@utility pointer {
  cursor: pointer;
  user-select: none;
  pointer-events: visible !important;
}

@utility no-select {
  user-select: none;
  pointer-events: none;
}

@utility select {
  user-select: text;
  pointer-events: visible;
}

/*Buttons*/

@utility btn {
  padding: 8px 12px;
  font-size: var(--lb-fs-2);
  min-width: max-content;
  height: max-content;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-weight: 400;
}

@utility btn-primary {
  background-color: var(--color-btn-primary);
  color: var(--color-lifo-title-inverse);
  font-weight: 500;
  letter-spacing: normal;
}

.btn-primary .lb-circular-root svg {
  stroke: rgb(var(--lb-bg)) !important;
}

.btn-primary:hover {
  background-color: var(--color-btn-primary-hover);
}


@utility btn-secondary {
  background-color: var(--color-lifo-bg-third);
}

.btn-secondary:hover {
  background-color: var(--color-lifo-bg-fourth);
}

@utility btn-third {
  border: solid 1px var(--color-lifo-border);
}

.btn-third:hover {
  background-color: var(--color-lifo-bg-third);
}

@utility btn-fourth {
  background-color: transparent;
}

.btn-fourth:hover {
  background-color: var(--color-lifo-bg-third);
}

@media (550px > width) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}