@layer components {
  [data-animation="scale"] {
    transition: scale 0.2s ease, opacity 0.2s ease;
  }
  
  .delete[data-animation="scale"] {
    scale: .7;
  }
  
  .visible[data-animation="scale"] {
    scale: 1;
  }
}