@layer components {
    .skeleton {
        animation: pulse 1s infinite;
        background-color: var(--color-gray-6);
        border-radius: var(--radius-sm);
        height: var(--spacing);
        width: 100%;
        display: flex;
    }
    @keyframes pulse {
        50% {
            opacity: .3;
        }
    }
}
