.lb-dm-drop {
    appearance: none;
    min-width: 50px;
    width: 90px;
    padding: 7px 13px;
    border-radius: 6px;
    background-color: var(--lb-bg-2);
    border: solid 1px var(--lb-br);
    color: var(--lb-lowtext);
    font-size: 14px;
}

.lb-dm-drop:focus {
    border: solid 1px var(--lb-hsl-primary);
    outline: solid 1px var(--lb-hsl-primary);
}


.lb-dm-togle {
    cursor: pointer;
    border-radius: 999px;
    display: flex;
    height: 22px;
    width: 38px;
    position: relative;
    background-color: #7b7b7b;
}

.lb-dm-togle.active {
    background-color: #1f6feb;
}

.lb-dm-togle span {
    border-radius: 50%;
    display: flex;
    height: 70%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    aspect-ratio: 1;
    position: absolute;
    background-color: #fff;
    transition: left .1s ease;
    box-shadow: 1px 1px 6px #0000009e;
}

.lb-dm-togle.active span {
    left: calc(100% - 19px);
    right: 4px;
}

.lb-dm-icon-toggle{
    border: solid 1px rgba(var(--lb-br, .7));
    padding: .25rem;
    height: 36px;
    aspect-ratio: 1 / 1;
}
.lb-dm-icon-toggle:hover{
    background-color: rgba(var(--lb-br, .4));
}
.lb-dm-icon-toggle svg{
    height: 100%;
    width: 100%;
}

