@layer components {
  .sheet-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--color-gray-modal-bg);
    display: flex;
    opacity: 1;
    transition: opacity 200ms ease-out;
    &[data-is-entering],
    &[data-is-exiting] {
      opacity: 0;
    }

    &[data-is-exiting] {
      transition: opacity 150ms ease;
    }
  }

  .sheet-modal {
    position: fixed;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 300ms cubic-bezier(0.16, 1, 0.3, 1);
    &[data-is-exiting] {
      transition: transform 150ms ease;
    }

    &[data-placement="bottom"] {
      bottom: 0;
      left: 50vw;
      max-height: 90dvh;
      transform: translate(-50%, 0);
      &[data-is-entering],
      &[data-is-exiting] {
        transform: translate(-50%, 100%);
      }
    }

    &[data-placement="top"] {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      &[data-is-entering],
      &[data-is-exiting] {
        transform: translate(-50%, -100%);
      }
    }

    &[data-placement="left"] {
      left: 0;
      top: 50%;
      max-height: 100dvh;
      width: min(400px, 90vw);
      transform: translate(0, -50%);
      &[data-is-entering],
      &[data-is-exiting] {
        transform: translate(-100%, -50%);
      }
    }

    &[data-placement="right"] {
      right: 0;
      top: 50%;
      max-height: 100dvh;
      width: min(400px, 90vw);
      border-radius: var(--radius-2xl) 0 0 var(--radius-2xl);
      transform: translate(0, -50%);
      &[data-is-entering],
      &[data-is-exiting] {
        transform: translate(100%, -50%);
      }
    }
  }

  .sheet-container {
    outline: none;
    pointer-events: auto;
    width: 100%;
    max-width: min(400px, 100vw);
    height: 100%;
    overflow-y: auto;
  }
}
