@theme {
  --color-amber-1: #fefdfb;
  --color-amber-2: #fefbe9;
  --color-amber-3: #fff7c2;
  --color-amber-4: #ffee9c;
  --color-amber-5: #fbe577;
  --color-amber-6: #f3d673;
  --color-amber-7: #e9c162;
  --color-amber-8: #e2a336;
  --color-amber-9: #ffc53d;
  --color-amber-10: #ffba18;
  --color-amber-11: #ab6400;
  --color-amber-12: #4f3422;
  --color-amber-a1: #c0800004;
  --color-amber-a2: #f4d10016;
  --color-amber-a3: #ffde003d;
  --color-amber-a4: #ffd40063;
  --color-amber-a5: #f8cf0088;
  --color-amber-a6: #eab5008c;
  --color-amber-a7: #dc9b009d;
  --color-amber-a8: #da8a00c9;
  --color-amber-a9: #ffb300c2;
  --color-amber-a10: #ffb300e7;
  --color-amber-a11: #ab6400;
  --color-amber-a12: #341500dd;
}

.light {
  --color-amber-1: #fefdfb;
  --color-amber-2: #fefbe9;
  --color-amber-3: #fff7c2;
  --color-amber-4: #ffee9c;
  --color-amber-5: #fbe577;
  --color-amber-6: #f3d673;
  --color-amber-7: #e9c162;
  --color-amber-8: #e2a336;
  --color-amber-9: #ffc53d;
  --color-amber-10: #ffba18;
  --color-amber-11: #ab6400;
  --color-amber-12: #4f3422;
  --color-amber-a1: #c0800004;
  --color-amber-a2: #f4d10016;
  --color-amber-a3: #ffde003d;
  --color-amber-a4: #ffd40063;
  --color-amber-a5: #f8cf0088;
  --color-amber-a6: #eab5008c;
  --color-amber-a7: #dc9b009d;
  --color-amber-a8: #da8a00c9;
  --color-amber-a9: #ffb300c2;
  --color-amber-a10: #ffb300e7;
  --color-amber-a11: #ab6400;
  --color-amber-a12: #341500dd;
}

.dark {
  --color-amber-1: #16120c;
  --color-amber-2: #1d180f;
  --color-amber-3: #302008;
  --color-amber-4: #3f2700;
  --color-amber-5: #4d3000;
  --color-amber-6: #5c3d05;
  --color-amber-7: #714f19;
  --color-amber-8: #8f6424;
  --color-amber-9: #ffc53d;
  --color-amber-10: #ffd60a;
  --color-amber-11: #ffca16;
  --color-amber-12: #ffe7b3;
  --color-amber-a1: #e63c0006;
  --color-amber-a2: #fd9b000d;
  --color-amber-a3: #fa820022;
  --color-amber-a4: #fc820032;
  --color-amber-a5: #fd8b0041;
  --color-amber-a6: #fd9b0051;
  --color-amber-a7: #ffab2567;
  --color-amber-a8: #ffae3587;
  --color-amber-a9: #ffc53d;
  --color-amber-a10: #ffd60a;
  --color-amber-a11: #ffca16;
  --color-amber-a12: #ffe7b3;
}
