@layer components {
  .react-aria-Form {
    gap: var(--spacing-6);
    flex-direction: column;
    display: flex;
  }
}

@import './Checkbox.css';

@import './RadioGroup.css';

@import './TextField.css';

@import './Switch.css';
