@layer base {
  * {
    font-family: var(--ff);
    -webkit-tap-highlight-color: transparent;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html[data-scroll-lock="true"] {
    overflow: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 6px;
    border-width: 2px;
  }
  
  *::-webkit-scrollbar {
    width: 4px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-5);
    border-radius: 10px;
    background-clip: padding-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  svg {
    pointer-events: none;
  }
  
  input[type="file"] {
    display: none;
  }
  
  input:active,
    input:focus-visible {
    border: none;
    outline: none;
  }
  
  .input-wrapper {
    transition: outline-width 0.1s ease;
  }
  
  .input-wrapper:focus-within {
    border: 0px solid var(--color-gray-6);
    outline: 0px solid var(--color-gray-5);
  }
  
  .input-wrapper svg {
    color: var(--color-lifo-text);
  }
  
  input[type="file"] {
    display: none;
  }
  
}

@media (prefers-reduced-motion:reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (hover:none) {
  *::-webkit-scrollbar {
    display: none;
  }
  
  button:hover {
    /* Quita efectos hover en dispositivos táctiles */
    background: inherit;
    transform: none;
  }
}
