h1 {
    font-size: var(--lb-fs-8);
}

h2 {
    font-size: var(--lb-fs-6);
}

h3 {
    font-size: var(--lb-fs-4);
}

h4 {
    font-size: var(--lb-fs-4);
}

h5 {
    font-size: var(--lb-fs-3);
}

h6 {
    font-size: var(--lb-fs-2);
}

p {
    margin-bottom: 1rem;
}

// #region FontWeight
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}



.fs-1 {
    font-size: var(--lb-fs-1);
}

.fs-2 {
    font-size: var(--lb-fs-2);
}

.fs-3 {
    font-size: var(--lb-fs-3);
}

.fs-4 {
    font-size: var(--lb-fs-4);
}

.fs-5 {
    font-size: var(--lb-fs-5);
}

.fs-6 {
    font-size: var(--lb-fs-6);
}

.fs-7 {
    font-size: var(--lb-fs-7);
}

.fs-8 {
    font-size: var(--lb-fs-8);
}

.fs-9 {
    font-size: var(--lb-fs-9);
}

.fs-10 {
    font-size: var(--lb-fs-10);
}

.fs-11 {
    font-size: var(--lb-fs-11);
}

.fs-12 {
    font-size: var(--lb-fs-12);
}

.fs-13 {
    font-size: var(--lb-fs-13);
}

.fs-14 {
    font-size: var(--lb-fs-14);
}

.fs-15 {
    font-size: var(--lb-fs-15);
}

.fs-16 {
    font-size: var(--lb-fs-16);
}

.fs-custom-11 {
    font-size: calc(var(--fs-multiplier) * 11px);
}

.fs-custom-11-5 {
    font-size: calc(var(--fs-multiplier) * 11px);
}

.fs-custom-12-5 {
    font-size: calc(var(--fs-multiplier) * 12.5px);
}

.fs-custom-13 {
    font-size: calc(var(--fs-multiplier) * 13px);
}

.fs-custom-13-5 {
    font-size: calc(var(--fs-multiplier) * 13.5px);
}

.fs-custom-14-5 {
    font-size: calc(var(--fs-multiplier) * 14.5px);
}

.fs-custom-15 {
    font-size: calc(var(--fs-multiplier) * 15px);
}

.fs-custom-15-5 {
    font-size: calc(var(--fs-multiplier) * 15.5px);
}

.fs-custom-16-5 {
    font-size: calc(var(--fs-multiplier) * 16.5px);
}

.fs-custom-17 {
    font-size: calc(var(--fs-multiplier) * 17px);
}

.fs-custom-17-5 {
    font-size: calc(var(--fs-multiplier) * 17.5px);
}

.fs-custom-18-5 {
    font-size: calc(var(--fs-multiplier) * 18.5px);
}

.fs-custom-19 {
    font-size: calc(var(--fs-multiplier) * 19px);
}


/*Font Color*/
.text-left {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}

.text-justify {
    text-align: justify;
}

.link:hover {
    color: var(--color-hsl-primary);
    text-decoration: underline;
    text-underline-offset: 2px;
}


.title {
    line-height: 56px;
    font-size: calc(var(--fs-multiplier) * 36px);
    margin-bottom: 1.5rem;
    color: rgb(var(--fc-title));
}

.subtitle {
    line-height: 1.75rem;
    font-size: calc(var(--fs-multiplier) * 24px);
    margin-bottom: .8rem;
    color: rgb(var(--fc-subtitle));
}

.strong {
    font-weight: 575;
    color: rgb(var(--fc-subtitley));
}

.text,
.text-sm,
.text-xsm {
    line-height: 1.25;
    color: rgb(var(--fc-text));
    letter-spacing: 0.005em;
}

.text {
    font-size: calc(var(--fs-multiplier) * 15.5px);
}

.text-sm {
    font-size: calc(var(--fs-multiplier) * 14px);
}

.text-xsm {
    font-size: calc(var(--fs-multiplier) * 12px);
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #000;
}

.text-info {
    padding: 0rem .2rem;
    color: rgb(var(--color-info));
    transition: background-color .2s ease;
}

.text-info:hover {
    background-color: rgb(var(--color-info), .15);
}

.text-error {
    padding: 0rem .2rem;
    color: rgb(var(--color-error));
    transition: background-color .2s ease;
}

.text-error:hover {
    background-color: rgb(var(--color-error), .12);
}

.text-warn {
    padding: 0rem .2rem;
    color: rgb(var(--color-warn));
    transition: background-color .2s ease;
}

.text-warn:hover {
    background-color: rgb(var(--color-warn), .12);
}

.text-success {
    padding: 0rem .2rem;
    color: rgb(var(--color-success));
    transition: background-color .2s ease;
}

.text-success:hover {
    background-color: rgb(var(--color-success), .12);
}