
// #region FontWeight
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}



.fs-1 {
    font-size: var(--lb-fs-1);
}

.fs-2 {
    font-size: var(--lb-fs-2);
}

.fs-3 {
    font-size: var(--lb-fs-3);
}

.fs-4 {
    font-size: var(--lb-fs-4);
}

.fs-5 {
    font-size: var(--lb-fs-5);
}

.fs-6 {
    font-size: var(--lb-fs-6);
}

.fs-7 {
    font-size: var(--lb-fs-7);
}

.fs-8 {
    font-size: var(--lb-fs-8);
}

.fs-9 {
    font-size: var(--lb-fs-9);
}

.fs-10 {
    font-size: var(--lb-fs-10);
}

.fs-11 {
    font-size: var(--lb-fs-11);
}

.fs-12 {
    font-size: var(--lb-fs-12);
}

.fs-13 {
    font-size: var(--lb-fs-13);
}

.fs-14 {
    font-size: var(--lb-fs-14);
}

.fs-15 {
    font-size: var(--lb-fs-15);
}

.fs-16 {
    font-size: var(--lb-fs-16);
}

.fs-custom-11 {
    font-size: calc(var(--fs-multiplier) * 11px);
}

.fs-custom-11-5 {
    font-size: calc(var(--fs-multiplier) * 11.5px);
}

.fs-custom-12-5 {
    font-size: calc(var(--fs-multiplier) * 12.5px);
}

.fs-custom-13 {
    font-size: calc(var(--fs-multiplier) * 13px);
}

.fs-custom-13-5 {
    font-size: calc(var(--fs-multiplier) * 13.5px);
}

.fs-custom-14-5 {
    font-size: calc(var(--fs-multiplier) * 14.5px);
}

.fs-custom-15 {
    font-size: calc(var(--fs-multiplier) * 15px);
}

.fs-custom-15-5 {
    font-size: calc(var(--fs-multiplier) * 15.5px);
}

.fs-custom-16-5 {
    font-size: calc(var(--fs-multiplier) * 16.5px);
}

.info{
    color: var(--color-info);
}