.no-sd{
    box-shadow: none !important;
}

.sd-1 {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.sd-2 {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.sd-3 {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.sd-4 {
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.35);
}

.sd-5 {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.175);
}

.sd-6 {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.sd-7 {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.25);
}