@layer components {
  .react-aria-Disclosure {
    width: 100%;
    .disclosure-button {
      background: none;
      border: none;
      box-shadow: none;
      text-shadow: none;
      width: 100%;
      color: var(--color-gray-11);
      font: var(--p2);
      font-weight: 500;
      display: flex;
      align-items: center;
      text-align: start;
      gap: var(--spacing-2);
      padding: var(--spacing-2);
      border-radius: var(--radius-md);
      transition: all 200ms;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      &[data-hovered],
      &[data-pressed] {
        background: var(--color-gray-4);
      }

      &[data-disabled] {
        color: var(--color-gray-10);
      }

      svg {
        rotate: 0deg;
        transition: rotate 200ms;
        fill: none;
        stroke: currentColor;
        stroke-width: 3px;
      }
    }

    &[data-expanded] .disclosure-button svg {
      rotate: 90deg;
    }
  }

  .react-aria-DisclosurePanel {
    color: var(--color-gray-11);
    height: var(--disclosure-panel-height);
    font: var(--p2);
    transition: height 250ms;
    overflow: clip;
    @media(prefers-reduced-motion:reduce) {
      transition: none;
    }

    div {
      padding: var(--spacing-2) var(--spacing-4);
    }
  }
}
