.react-aria-Menu {
  border: solid 1px var(--color-gray-a5);
  background-color: var(--color-gray-2);
  border-radius: var(--radius-lg);
  min-height: 0;
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  min-width: 150px;
  outline: none;
  display: grid;
  padding: var(--spacing);
  --check-width: 0;
  grid-template-columns: var(--spacing-3) var(--check-width) auto 1fr auto var(--spacing-3);
  grid-auto-rows: max-content;
  &:has(> [data-selection-mode]) {
    --check-width: var(--spacing-6);
  }

  &[data-empty] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: var(--spacing-8);
  }
}

.react-aria-MenuItem {
  padding: 8px 4px;
  border-radius: var(--radius-md);
  outline: none;
  cursor: default;
  color: var(--color-gray-11);
  font: var(--p2) !important;
  position: relative;
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-areas: ". check icon label end ."
                       ". . . desc end .";
  grid-template-columns: subgrid;
  align-items: center;
  forced-color-adjust: none;
  -webkit-tap-highlight-color: transparent;

  > svg:not(.lucide-check, .lucide-dot, .lucide-chevron-right) {
    grid-area: icon;
    width: var(--spacing-4);
    height: var(--spacing-4);
    justify-self: center;
    margin-inline-end: var(--spacing-2);
  }

  &[data-open],
  &[data-pressed] {
    background: var(--color-gray-6);
    color: var(--color-gray-12);
  }

  &[data-focused] {
    background: var(--color-gray-6);
    color: var(--color-gray-12);
  }

  &[data-selection-mode] {
    .lucide-check,
    .lucide-dot {
      grid-area: check;
      width: var(--spacing-4);
      height: var(--spacing-4);
    }

    .lucide-check {
      stroke-width: 3px;
    }

    .lucide-dot {
      scale: 3;
    }
  }

  &[href] {
    text-decoration: none;
    cursor: pointer;
  }

  &[data-disabled] {
    color: var(--color-gray-10);

    [slot=description] {
      color: var(--color-gray-8);
    }
  }

  &[data-danger] {
    color: var(--color-red-9);

    &[data-focused]{
      color: var(--color-red-10);
      background-color: var(--color-red-a3);
    }
  }

  .react-aria-Text:not([slot]),
  [slot=label] {
    grid-area: label;
    font-weight: 475;
  }

  [slot=description] {
    font: var(--p3) !important;
    color: var(--color-gray-11);
    grid-area: desc;
  }

  kbd {
    grid-area: end;
    justify-self: end;
    margin-inline-start: var(--spacing-4);
    font: var(--p3) !important;
    font-size: 0.75rem !important;
    text-align: end;
    background-color: var(--color-gray-a5);
    border: 0.5px solid var(--color-gray-a6);
    padding: 0 var(--spacing);
    border-radius: var(--radius-sm);
  }

  &[data-focused] kbd {
    background: var(--color-gray-a5);
    border-color: var(--color-gray-a6);
  }

  .lucide-chevron-right {
    grid-area: end;
    margin-left: var(--spacing-3);
    justify-self: end;
    width: var(--spacing-4);
    height: var(--spacing-4);
  }
}

.react-aria-MenuSection {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  --check-width: 0;
  grid-template-columns: var(--spacing-3) var(--check-width) auto 1fr auto var(--spacing-3);

  &:has(> [data-selection-mode]) {
    --check-width: var;
  }

  .react-aria-Header {
    grid-column-start: 1;
    grid-column-end: -1;
    font: var(--p2);
    font-weight: 600 !important;
    font-variation-settings: initial;
    padding: var(--spacing) var(--spacing-3);
    background: var(--color-gray-3);
    cursor: default;
    user-select: none;
  }

  &:first-child .react-aria-Header {
    margin-top: -0.5px;
  }
}

.react-aria-Menu .react-aria-Separator {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: var(--spacing) 0;
  border: 0;
  border-top: 0.5px solid var(--color-gray-a5);
  height: auto;
  width: auto;

  .react-aria-MenuItem + & {
    margin-block-start: var(--spacing);
  }

  &:has(+ .react-aria-MenuItem) {
    margin-block-end: var(--spacing);
  }
}
