@layer components {
  /* POPOVER */
  .react-aria-Popover {
    --background-color: #0000001f;
    transform-origin: var(--trigger-anchor-point);
    box-sizing: border-box;
    filter: drop-shadow(var(--color-gray-a5));
    border-radius: var(--radius-lg);
    color: var(--color-gray-12);
    transition: transform 200ms, opacity 200ms;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
    font: var(--p);

    &[data-trigger=MenuTrigger],
    &[data-trigger=SubmenuTrigger] {
      padding: 0;
    }

    .react-aria-OverlayArrow svg {
      display: block;
      fill: var(--background-color);
      stroke: var(--overlay-border);
      paint-order: stroke;
      stroke-width: 2px;
    }

    &[data-entering],
    &[data-exiting] {
      transform: var(--origin) scale(1);
      opacity: 0;
    }

    &[data-placement=top] {
      --origin: translateY(8px);
      &:has(.react-aria-OverlayArrow) {
        margin-bottom: 6px;
      }
    }

    &[data-placement=bottom] {
      --origin: translateY(-8px);
      &:has(.react-aria-OverlayArrow) {
        margin-top: 6px;
      }

      .react-aria-OverlayArrow svg {
        transform: rotate(180deg);
      }
    }

    &[data-placement=right] {
      --origin: translateX(-8px);
      &:has(.react-aria-OverlayArrow) {
        margin-left: 6px;
      }

      .react-aria-OverlayArrow svg {
        transform: rotate(90deg);
      }
    }

    &[data-placement=left] {
      --origin: translateX(8px);
      &:has(.react-aria-OverlayArrow) {
        margin-right: 6px;
      }

      .react-aria-OverlayArrow svg {
        transform: rotate(-90deg);
      }
    }
  }
}
