@import './Skeleton.scss';
@import './Scale.scss';

:root {
    --fw-duration: var(--custom-duration, 0.18s);
}

[data-animation="none"] {
    transition: none;
}

[data-animation="none"].delete {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
}

[data-animation="none"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
}


[data-animation='none'][data-axis-y='top'] {
    --slide-start-top: 1.2rem;
    --slide-end-top: 1.2rem;
}

[data-animation='none'][data-axis-y='bottom'] {
    --slide-start-bottom: 1.2rem;
    --slide-end-bottom: 1.2rem;
}

[data-animation="none"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}

[data-animation="none"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}


.visible[data-animation="scale"],
.visible[data-animation="slide"],
.visible[data-animation="fade"] {
    opacity: 1;
}

.delete[data-animation="scale"],
.delete[data-animation="slide"],
.delete[data-animation="fade"] {
    opacity: 0;
}




[data-animation="slide"] {
    transition:
        top 0.15s ease,
        left 0.15s ease,
        right 0.15s ease,
        bottom 0.15s ease,
        opacity 0.15s ease;
}

[data-animation="slide"].delete,
[data-animation="slide"] {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
}


[data-animation="slide"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
}

[data-animation="slide"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
}

[data-animation="slide"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}

[data-animation="slide"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}

[data-animation="slide"][data-axis-y="top"] {
    --slide-start-top: -2rem;
    --slide-end-top: 1.2rem;
}

[data-animation="slide"][data-axis-y="bottom"] {
    --slide-start-bottom: -2rem;
    --slide-end-bottom: 1.2rem;
}





[data-animation="scale"].delete {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
}


[data-animation="scale"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
}

[data-animation="scale"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
}

[data-animation='scale'][data-axis-x="left"][data-scale-offset='left'] {
    transform-origin: left center;
}

[data-animation='scale'][data-axis-x="center"][data-scale-offset='center'] {
    transform-origin: center left;
}

[data-animation='scale'][data-axis-x="right"][data-scale-offset='right'] {
    transform-origin: center right;
}


[data-animation="scale"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}

[data-animation="scale"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}

[data-animation="scale"][data-axis-y="top"] {
    --slide-start-top: 1.2rem;
    --slide-end-top: 1.2rem;
}

[data-animation="scale"][data-axis-y="bottom"] {
    --slide-start-bottom: 1.22rem;
    --slide-end-bottom: 1.2rem;
}



[data-animation="fade"] {
    transition: opacity 0.2s ease;
}

[data-animation="fade"].delete {
    top: var(--fade-start-top, auto);
    left: var(--fade-start-left, auto);
    right: var(--fade-start-right, auto);
    bottom: var(--fade-start-bottom, auto);
}


[data-animation="fade"].visible {
    top: var(--fade-end-top, auto);
    left: var(--fade-end-left, auto);
    right: var(--fade-end-right, auto);
    bottom: var(--fade-end-bottom, auto);
}

[data-animation='fade'][data-axis-y='top'] {
    --fade-start-top: 1.2rem;
    --fade-end-top: 1.2rem;
}

[data-animation='fade'][data-axis-y='bottom'] {
    --fade-start-bottom: 1.2rem;
    --fade-end-bottom: 1.2rem;
}

[data-animation="fade"][data-axis-x="left"] {
    --fade-start-left: 1.2rem;
    --fade-end-left: 1.2rem;
}

[data-animation="fade"][data-axis-x="right"] {
    --fade-start-right: 1.2rem;
    --fade-end-right: 1.2rem;
}





[data-animation="custom"] {
    transition: opacity var(--custom-duration, .17s) ease, transform var(--custom-duration, .17s) ease,
        top var(--custom-duration, .17s) ease, left var(--custom-duration, .17s) ease, right var(--custom-duration, .17s) ease, bottom var(--custom-duration, .17s) ease;
}

[data-animation="custom"].delete {
    top: var(--custom-start-top);
    left: var(--custom-start-left);
    right: var(--custom-start-right);
    bottom: var(--custom-start-bottom);
    opacity: var(--custom-start-opacity, 0);
    transform: var(--custom-start-transform, 'translate(-50%, -50%)');
}

[data-animation="custom"].visible {
    top: var(--custom-end-top);
    left: var(--custom-end-left);
    right: var(--custom-end-right);
    bottom: var(--custom-end-bottom);
    opacity: var(--custom-end-opacity, 1);
    transform: var(--custom-end-transform, 'translate(-50%, -50%)');
}

@keyframes rotate {
    to {
        transform: rotate(720deg);
    }
}