[data-animate="none"] {
    transition: none;
}

[data-animate="none"].delete {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
}
[data-animate="none"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
}


[data-animate='none'][data-axis-y='top'] {
    --slide-start-top: 1.2rem;
    --slide-end-top: 1.2rem;
}

[data-animate='none'][data-axis-y='bottom'] {
    --slide-start-bottom: 1.2rem;
    --slide-end-bottom: 1.2rem;
}

[data-animate="none"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}
[data-animate="none"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}


[data-animate="fade"] {
    transition: opacity 0.25s ease;
}

.visible[data-animate="scale"],
.visible[data-animate="slide"],
.visible[data-animate="fade"] {
    opacity: 1;
}

.delete[data-animate="scale"],
.delete[data-animate="slide"],
.delete[data-animate="fade"] {
    opacity: 0;
}

[data-animate="scale"] {
    transition: scale 0.2s ease, opacity 0.2s ease;
}

.delete[data-animate="scale"] {
    scale: .7;
}

.visible[data-animate="scale"]{
    scale: 1;
}



[data-animate="slide"] {
    transition: top 0.25s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease, opacity 0.2s ease;
}

[data-animate="slide"].delete,
[data-animate="slide"] {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
}


[data-animate="slide"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
}

[data-animate="slide"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
}

[data-animate="slide"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}
[data-animate="slide"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}

[data-animate="slide"][data-axis-y="top"] {
    --slide-start-top: -2rem;
    --slide-end-top: 1.2rem;
}

[data-animate="slide"][data-axis-y="bottom"] {
    --slide-start-bottom: -2rem;
    --slide-end-bottom: 1.2rem;
}





[data-animate="scale"].delete {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
}


[data-animate="scale"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
}

[data-animate="scale"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
}

[data-animate='scale'][data-axis-x="left"][data-scale-offset='left'] {
    transform-origin: left center;
}

[data-animate='scale'][data-axis-x="center"][data-scale-offset='center'] {
    transform-origin: center left;
}

[data-animate='scale'][data-axis-x="right"][data-scale-offset='right'] {
    transform-origin: center right;
}


[data-animate="scale"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}
[data-animate="scale"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}

[data-animate="scale"][data-axis-y="top"] {
    --slide-start-top: 1.2rem;
    --slide-end-top: 1.2rem;
}

[data-animate="scale"][data-axis-y="bottom"] {
    --slide-start-bottom: 1.22rem;
    --slide-end-bottom: 1.2rem;
}






[data-animate='fade'][data-axis-y='top'] {
    --slide-start-top: 1.2rem;
    --slide-end-top: 1.2rem;
}

[data-animate='fade'][data-axis-y='bottom'] {
    --slide-start-bottom: 1.2rem;
    --slide-end-bottom: 1.2rem;
}

[data-animate="fade"][data-axis-x="left"] {
    --slide-start-left: 1.2rem;
    --slide-end-left: 1.2rem;
}
[data-animate="fade"][data-axis-x="right"] {
    --slide-start-right: 1.2rem;
    --slide-end-right: 1.2rem;
}





[data-animate="custom"] {
    transition: opacity .2s ease, transform .2s ease,
        top .2s ease, left .2s ease, right .2s ease, bottom .2s ease;
}

[data-animate="custom"].delete {
    top: var(--custom-start-top);
    left: var(--custom-start-left);
    right: var(--custom-start-right);
    bottom: var(--custom-start-bottom);
    opacity: var(--custom-start-opacity, 0);
    transform: var(--custom-start-transform, 'translate(-50%, -50%)');
}

[data-animate="custom"].visible {
    top: var(--custom-end-top);
    left: var(--custom-end-left);
    right: var(--custom-end-right);
    bottom: var(--custom-end-bottom);
    opacity: var(--custom-end-opacity, 1);
    transform: var(--custom-end-transform, 'translate(-50%, -50%)');
}

@keyframes rotate {
    to{
        transform: rotate(720deg);
    }
}