---
import "../styles/output/Global.css";
import "../styles/output/Flifo.css";

import {
    CardLoading,
    DarkmodeDrop,
    DarkmodeIcon,
    DarkmodeToggle,
    Dialoger,
    Dropdown,
    PageLoading,
    Toaster,
} from "../components/index";
import Test from "../apps/Test";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<script>
    const BASE_STORAGE_KEY =
        (import.meta.env.PUBLIC_BASE_STORAGE_KEY ??
            (import.meta.env.MODE === "production"
                ? "F-Preferences"
                : "F-Preferences-DEV")) + "-preferences";

    let savedPrefs = JSON.parse(localStorage.getItem(BASE_STORAGE_KEY) || "{}");

    const setDarkMode = (doc: Document) => {
        const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
        ).matches;

        const mode =
            savedPrefs.theme === "dark" || savedPrefs.theme === "light"
                ? savedPrefs.theme
                : prefersDark
                  ? "dark"
                  : "light";

        doc.documentElement.classList.toggle("dark", mode === "dark");
        doc.documentElement.classList.toggle("light", mode === "light");
        doc.documentElement.style.colorScheme = mode;

        localStorage.setItem(
            BASE_STORAGE_KEY,
            JSON.stringify({
                ...savedPrefs,
                theme: savedPrefs.theme || "system",
                isDark: mode === "dark",
            }),
        );
    };

    setDarkMode(document);

    document.addEventListener("astro:before-swap", (e) =>
        setDarkMode(e.newDocument),
    );
    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => setDarkMode(document));
</script>

<html lang="en" translate="no">
    <head>
        <title>{`Lifo Library - ${title || "Home"}`}</title>
        <meta name="Author" content="Lifo123" />
        <meta name="description" content={description} />

        <meta charset="utf-8" />
        <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="f-col f-align-center ">
        <PageLoading />

        <Toaster client:only="react" maxToasts={3} />
        <Dialoger client:only="react" />
        <CardLoading client:only="react" />
        <header class="f-row w-100 f-justify-between f-align-center px-3">
            <div class="f-row g-2 f-center pointer">
                <span>Logo</span>
                <span class="head-h1 text-center fs-3 fw-500"
                    >Firebase Studio</span
                >
            </div>
            <div class="f-row g-3 f-center">
                <DarkmodeIcon client:only="react" />
                <DarkmodeDrop client:only="react" />
                <DarkmodeToggle client:only="react" />
                <Dropdown
                    text="pfp"
                    items={[[{ text: "Log out" }]]}
                    client:only="react"
                />
            </div>
        </header>

        <main class="columns f-col mt-10 px-5">
            <div class="f-col my-5">
                <span class="fs-9 fw-500">Hello, Lifo</span>
                <span
                    class="fs-6 fw-500"
                    style="color: var(--vscode-description-foreground)"
                    >Welcome back</span
                >
            </div>
            <section class="f-row f-justify-between mt-3 g-9">
                <div class="f-col g-2 mt-3">
                    <span
                        class="fs-2 fw-500 mt-1"
                        style="color: var(--vscode-description-foreground);"
                        >Prototype an app with AI</span
                    >
                    <div class="input-area br-12 p-3" style="width: 460px;">
                        An app that helps you prototype an app with AI
                    </div>
                </div>
                <Test client:only="react" />
            </section>
        </main>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
        <p>131</p>
    </body>
</html>

<style>
    header {
        height: 48px;
        color: var(--vscode-description-foreground);
    }
    .head-h1:hover {
        color: var(--vscode-foreground);
    }

    main {
        width: 100%;
        max-width: 1300px;
    }
</style>
