---
import "../styles/Global.css";

import {
    CardLoading,
    DarkmodeDrop,
    DarkmodeIcon,
    Dialoger,
    PageLoading,
    Toaster,
} from "../components/index";
import Test from "../apps/Main";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<script>
    const BASE_STORAGE_KEY =
        (window.location.pathname.split("/").filter(Boolean)[0] || "lifo/lib-") +
        "-prefs";
    let savedPrefs = JSON.parse(localStorage.getItem(BASE_STORAGE_KEY) || "{}");

    const setDarkMode = (doc: Document) => {
        const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
        ).matches;

        const mode =
            savedPrefs.theme === "dark" || savedPrefs.theme === "light"
                ? savedPrefs.theme
                : prefersDark
                  ? "dark"
                  : "light";

        doc.documentElement.classList.toggle("dark", mode === "dark");
        doc.documentElement.classList.toggle("light", mode === "light");

        localStorage.setItem(
            BASE_STORAGE_KEY,
            JSON.stringify({
                ...savedPrefs,
                theme: savedPrefs.theme || "system",
                isDark: mode === "dark",
            }),
        );
    };

    setDarkMode(document);

    document.addEventListener("astro:before-swap", (e) =>
        setDarkMode(e.newDocument),
    );
    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => setDarkMode(document));
</script>

<html lang="en" translate="no">
    <head>
        <title>{`Lifo Library - ${title || "Home"}`}</title>
        <meta name="Author" content="Lifo123" />
        <meta name="description" content={description} />

        <meta charset="utf-8" />
        <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="f-col f-align-center w-full ox-hidden">
        <PageLoading />
        <Toaster client:only="react" maxToasts={6}/>
        <Dialoger client:only="react" />
        <CardLoading client:only="react" />
        <header class="f-row w-full justify-between items-center px-4 py-2 ">
            <div class="f-row gap-2.5 f-center pointer">
                <span>Logo</span>
                <span class="head-h1 text-center fs-3 fw-500"
                    >Firebase Studio</span
                >
            </div>
            <div class="f-row gap-2 f-center">
                <DarkmodeIcon client:only="react" />
                <DarkmodeDrop client:only="react" />
            </div>
        </header>
        <Test client:only="react" />
    </body>

    <style>
        header {
            height: 48px;
            color: var(--vscode-description-foreground);
        }
        .head-h1:hover {
            color: var(--vscode-foreground);
        }

        main {
            width: 100%;
            max-width: 1300px;
        }
    </style>
</html>
