@theme {
  --color-error-1: #fffcfc;
  --color-error-2: #fff7f7;
  --color-error-3: #feebec;
  --color-error-4: #ffdbdc;
  --color-error-5: #ffcdce;
  --color-error-6: #fdbdbe;
  --color-error-7: #f4a9aa;
  --color-error-8: #eb8e90;
  --color-error-9: #e5484d;
  --color-error-10: #dc3e42;
  --color-error-11: #ce2c31;
  --color-error-12: #641723;
  --color-error-a1: #ff000003;
  --color-error-a2: #ff000008;
  --color-error-a3: #f3000d14;
  --color-error-a4: #ff000824;
  --color-error-a5: #ff000632;
  --color-error-a6: #f8000442;
  --color-error-a7: #df000356;
  --color-error-a8: #d2000571;
  --color-error-a9: #db0007b7;
  --color-error-a10: #d10005c1;
  --color-error-a11: #c40006d3;
  --color-error-a12: #55000de8;
  --color-error-contrast: #fff;
  --color-error-inverse: #000;
  --color-error-surface: #ffffffcc;
  --color-error-indicator: #9b7e99;
  --color-error-track: #9b7e99;
}

.light {
  --color-error-1: #fffcfc;
  --color-error-2: #fff7f7;
  --color-error-3: #feebec;
  --color-error-4: #ffdbdc;
  --color-error-5: #ffcdce;
  --color-error-6: #fdbdbe;
  --color-error-7: #f4a9aa;
  --color-error-8: #eb8e90;
  --color-error-9: #e5484d;
  --color-error-10: #dc3e42;
  --color-error-11: #ce2c31;
  --color-error-12: #641723;
  --color-error-a1: #ff000003;
  --color-error-a2: #ff000008;
  --color-error-a3: #f3000d14;
  --color-error-a4: #ff000824;
  --color-error-a5: #ff000632;
  --color-error-a6: #f8000442;
  --color-error-a7: #df000356;
  --color-error-a8: #d2000571;
  --color-error-a9: #db0007b7;
  --color-error-a10: #d10005c1;
  --color-error-a11: #c40006d3;
  --color-error-a12: #55000de8;
  --color-error-contrast: #fff;
  --color-error-inverse: #000;
  --color-error-surface: #ffffffcc;
  --color-error-indicator: #9b7e99;
  --color-error-track: #9b7e99;
}

.dark {
  --color-error-1: #191111;
  --color-error-2: #201314;
  --color-error-3: #3b1219;
  --color-error-4: #500f1c;
  --color-error-5: #611623;
  --color-error-6: #72232d;
  --color-error-7: #8c333a;
  --color-error-8: #b54548;
  --color-error-9: #e5484d;
  --color-error-10: #ec5d5e;
  --color-error-11: #ff9592;
  --color-error-12: #ffd1d9;
  --color-error-a1: #f4121209;
  --color-error-a2: #f22f3e11;
  --color-error-a3: #ff173f2d;
  --color-error-a4: #fe0a3b44;
  --color-error-a5: #ff204756;
  --color-error-a6: #ff3e5668;
  --color-error-a7: #ff536184;
  --color-error-a8: #ff5d61b0;
  --color-error-a9: #fe4e54e4;
  --color-error-a10: #ff6465eb;
  --color-error-a11: #ff9592;
  --color-error-a12: #ffd1d9;
  --color-error-contrast: #fff;
  --color-error-inverse: #fff;
  --color-error-surface: rgba(0, 0, 0, 0.05);
  --color-error-indicator: #6e6e6e;
  --color-error-track: #6e6e6e;
}