@theme {
  --color-gray-1: hsl(0, 0%, 96%); 
  --color-gray-2: hsl(0, 0%, 95%);
  --color-gray-3: hsl(0, 0%, 92%);
  --color-gray-4: hsl(0, 0%, 88%);
  --color-gray-5: hsl(0, 0%, 86%);
  --color-gray-6: hsl(0, 0%, 82%);
  --color-gray-7: hsl(0, 0%, 78%);
  --color-gray-8: hsl(0, 0%, 70%);
  --color-gray-9: hsl(0, 0%, 50%);
  --color-gray-10: hsl(0, 0%, 45%);
  --color-gray-11: hsl(0, 0%, 39%);
  --color-gray-12: hsl(0, 0%, 13%);

  --color-gray-a1: hsla(0, 0%, 0%, 0.012);
  --color-gray-a2: hsla(0, 0%, 0%, 0.024);
  --color-gray-a3: hsla(0, 0%, 0%, 0.059);
  --color-gray-a4: hsla(0, 0%, 0%, 0.09);
  --color-gray-a5: hsla(0, 0%, 0%, 0.122);
  --color-gray-a6: hsla(0, 0%, 0%, 0.149);
  --color-gray-a7: hsla(0, 0%, 0%, 0.192);
  --color-gray-a8: hsla(0, 0%, 0%, 0.267);
  --color-gray-a9: hsla(0, 0%, 0%, 0.447);
  --color-gray-a10: hsla(0, 0%, 0%, 0.486);
  --color-gray-a11: hsla(0, 0%, 0%, 0.608);
  --color-gray-a12: hsla(0, 0%, 0%, 0.875);
  --color-gray-contrast: #fff;
  --color-gray-inverse: #000;
  --color-gray-surface: #ffffffcc;
  --color-gray-indicator: #9b7e99;
  --color-gray-track: #9b7e99;

  --color-gray-black: #fff;
  --color-gray-white: #000;
}

.light {
  --color-gray-1: hsl(0, 0%, 96%); 
  --color-gray-2: hsl(0, 0%, 95%);
  --color-gray-3: hsl(0, 0%, 92%);
  --color-gray-4: hsl(0, 0%, 88%);
  --color-gray-5: hsl(0, 0%, 86%);
  --color-gray-6: hsl(0, 0%, 82%);
  --color-gray-7: hsl(0, 0%, 78%);
  --color-gray-8: hsl(0, 0%, 70%);
  --color-gray-9: hsl(0, 0%, 50%);
  --color-gray-10: hsl(0, 0%, 45%);
  --color-gray-11: hsl(0, 0%, 39%);
  --color-gray-12: hsl(0, 0%, 13%);

  --color-gray-a1: hsla(0, 0%, 0%, 0.012);
  --color-gray-a2: hsla(0, 0%, 0%, 0.024);
  --color-gray-a3: hsla(0, 0%, 0%, 0.059);
  --color-gray-a4: hsla(0, 0%, 0%, 0.09);
  --color-gray-a5: hsla(0, 0%, 0%, 0.122);
  --color-gray-a6: hsla(0, 0%, 0%, 0.149);
  --color-gray-a7: hsla(0, 0%, 0%, 0.192);
  --color-gray-a8: hsla(0, 0%, 0%, 0.267);
  --color-gray-a9: hsla(0, 0%, 0%, 0.447);
  --color-gray-a10: hsla(0, 0%, 0%, 0.486);
  --color-gray-a11: hsla(0, 0%, 0%, 0.608);
  --color-gray-a12: hsla(0, 0%, 0%, 0.875);
  --color-gray-contrast: #fff;
  --color-gray-inverse: #000;
  --color-gray-surface: #ffffffcc;
  --color-gray-indicator: #9b7e99;
  --color-gray-track: #9b7e99;

  --color-gray-black: #fff;
  --color-gray-white: #000;
}

.dark {
  --color-gray-1: hsl(270, 4%, 6%); 
  --color-gray-2: hsl(260, 4%, 8%);
  
  --color-gray-3: hsl(240, 5%, 13%); 
  --color-gray-4: hsl(232, 6%, 16%); 
  --color-gray-5: hsl(228, 7%, 22%); 

  --color-gray-6: hsl(228, 7%, 30%); 
  --color-gray-7: hsl(228, 7%, 40%); 
  --color-gray-8: hsl(228, 7%, 45%);

  --color-gray-9: hsl(228, 8%, 50%); 
  --color-gray-10: hsl(228, 9%, 55%);

  --color-gray-11: #afafb3;
  --color-gray-12: #EEEEF0;

  --color-gray-a1: hsla(0, 0%, 100%, 0.02);
  --color-gray-a2: hsla(0, 0%, 100%, 0.05);
  --color-gray-a3: hsla(0, 0%, 100%, 0.09);
  --color-gray-a4: hsla(0, 0%, 100%, 0.12);
  --color-gray-a5: hsla(0, 0%, 100%, 0.16);
  --color-gray-a6: hsla(0, 0%, 100%, 0.20);
  --color-gray-a7: hsla(0, 0%, 100%, 0.27);
  --color-gray-a8: hsla(0, 0%, 100%, 0.38);
  --color-gray-a9: hsla(0, 0%, 100%, 0.45);
  --color-gray-a10: hsla(0, 0%, 100%, 0.52);
  --color-gray-a11: hsla(0, 0%, 100%, 0.70);
  --color-gray-a12: hsla(0, 0%, 100%, 0.93);

  --color-gray-contrast: var(--color-gray-12);
  --color-gray-inverse: var(--color-gray-1); 

  --color-gray-surface: var(--color-gray-a3);
  --color-gray-indicator: var(--color-gray-8);
  --color-gray-track: var(--color-gray-6);

  --color-gray-black: #000;
  --color-gray-white: #fff;
}