.light {
    --color-info: rgb(38 147 255);
    --color-error: rgb(249, 23, 23);
    --color-warn: rgb(252, 163, 31);
    --color-success: rgb(30, 187, 18);

}

.dark {
    --color-info: rgb(0, 128, 255);
    --color-error: rgb(249, 23, 23);
    --color-warn: rgb(252, 163, 31);
    --color-success: rgb(30, 187, 18);
}