:root {
    --lifo-primary: #0c77e2;
}

.light {
    --lifo-toast-title: #121212;
    --lifo-toast-description: #393939;

    --lifo-toast-success: #4fb551;
    --lifo-toast-warning: #de7700;
    --lifo-toast-error: #ea4f4f;
    --lifo-toast-info: #318de9;

    --lifo-toast-success-bg: #d8fcca;
    --lifo-toast-warning-bg: #fcddaf;
    --lifo-toast-error-bg: #fee5e5;
    --lifo-toast-info-bg: #d0e7ff;
}

.dark {
    --lifo-toast-title: #f5f5f5;
    --lifo-toast-description: #dbdbdb;

    --lifo-toast-warning: #e99724;
    --lifo-toast-success: #3ecc41;
    --lifo-toast-error: #ff3636;
    --lifo-toast-info: #0f84f9;

    --lifo-toast-success-bg: #1e241f;
    --lifo-toast-warning-bg: #281e16;
    --lifo-toast-error-bg: #2f1d1d;
    --lifo-toast-info-bg: #11232d;
}

.note-info {
    border: solid 1px var(--lifo-toast-info);
    background-color: var(--lifo-toast-info-bg);
    color: var(--lifo-toast-info);
}

.note-error {
    border: solid 1px var(--lifo-toast-error);
    background-color: var(--lifo-toast-error-bg);
    color: var(--lifo-toast-error);
}

.note-warn {
    border: solid 1px var(--lifo-toast-warning);
    background-color: var(--lifo-toast-warning-bg);
    color: var(--lifo-toast-warning);
}

.note-success {
    border: solid 1px var(--lifo-toast-success);
    background-color: var(--lifo-toast-success-bg);
    color: var(--lifo-toast-success);
}

.note-default {
    border: solid 1px var(--color-lifo-border);
    background-color: var(--color-lifo-bg);
    color: var(--color-lifo-title);
}