:root {
    --border-color: 229, 231, 235;
    --flifo-bg-primary: 250, 250, 250;
    --flifo-bg-secondary: 245, 244, 244;


}

.light {
    --border-color: 229, 231, 235;
    --flifo-bg-primary: 250, 250, 250;
    --flifo-bg-secondary: 245, 244, 244;
}

.dark {

    --border-color: 38, 38, 38;
    --flifo-bg-primary: 23, 23, 23;
    --flifo-bg-secondary: 28, 28, 29;
}