.light {
    color-scheme: light;
    --vscode-focus-border: #5876de;
    --vscode-foreground: #292929;
    --vscode-icon-foreground: #292929;
    --vscode-widget-shadow: rgba(41, 41, 41, .25);
    --vscode-description-foreground: #6a6a6a;
    --vscode-error-foreground: #c1313b;
    --vscode-toolbar-hover-background: rgba(41, 41, 41, .08);
    --vscode-toolbar-active-background: rgba(41, 41, 41, .16);
    --vscode-text-link-foreground: #4563ca;
    --vscode-text-link-active-foreground: #183da4;
    --vscode-text-block-quote-background: #fdfcfc;
    --vscode-text-block-quote-border: #e1dfdf;
    --vscode-text-code-block-background: #faf8f8;
    --vscode-text-preformat-foreground: #6a6a6a;
    --vscode-text-separator-foreground: #b0afaf;
    --vscode-list-warning-foreground: #c16f23;
    --vscode-list-error-foreground: #c1313b;
    --vscode-button-background: rgb(10, 10, 15);
    --vscode-button-hover-background: #3252b8;
    --vscode-button-foreground: #fff;
    --vscode-button-hover-foreground: rgb(25, 25, 30);
    --vscode-button-secondary-background: rgb(228 229 230);
    --vscode-button-secondary-foreground: #000;
    --vscode-button-secondary-hover-background: #d7dbdf;
    --vscode-checkbox-background: #fff;
    --vscode-checkbox-foreground: #3e3e3e;
    --vscode-checkbox-border: #c8c7c7;
    --vscode-dropdown-background: #fff;
    --vscode-dropdown-border: #c8c7c7;
    --vscode-dropdown-foreground: #3e3e3e;
    --vscode-dropdown-list-background: #faf8f8;
    --vscode-input-background: #fff;
    --vscode-input-border: #c8c7c7;
    --vscode-input-foreground: #3e3e3e;
    --vscode-input-placeholder-foreground: #999;
    --vscode-input-validation-error-border: #c1313b;
    --vscode-input-option-active-border: #7895ff;
    --vscode-input-option-active-background: rgba(120, 149, 255, .3);
    --vscode-input-option-active-foreground: #292929;
    --vscode-badge-foreground: #4563ca;
    --vscode-badge-background: #dee7fc;
    --vscode-progress-bar-background: #7895ff;
    --vscode-title-bar-active-foreground: #3e3e3e;
    --vscode-title-bar-active-background: #fff;
    --vscode-title-bar-inactive-foreground: #6a6a6a;
    --vscode-title-bar-inactive-background: #faf8f8;
    --vscode-title-bar-border: #e1dfdf;
    --vscode-command-center-background: #fff;
    --vscode-command-center-foreground: #6a6a6a;
    --vscode-command-center-border: #e1dfdf;
    --vscode-command-center-active-background: #fdfcfc;
    --vscode-command-center-active-foreground: #3e3e3e;
    --vscode-command-center-active-border: #c8c7c7;
    --vscode-command-center-inactive-foreground: #828282;
    --vscode-command-center-inactive-border: #e1dfdf;
    --vscode-activity-bar-foreground: #3e3e3e;
    --vscode-activity-bar-inactive-foreground: #999;
    --vscode-activity-bar-background: #fff;
    --vscode-activity-bar-badge-foreground: #fff;
    --vscode-activity-bar-badge-background: #4563ca;
    --vscode-activity-bar-active-border: #7895ff;
    --vscode-activity-bar-border: #e1dfdf;
    --vscode-side-bar-foreground: #535353;
    --vscode-side-bar-background: #faf8f8;
    --vscode-side-bar-border: #e1dfdf;
    --vscode-side-bar-title-foreground: #3e3e3e;
    --vscode-side-bar-section-header-foreground: #3e3e3e;
    --vscode-side-bar-section-header-background: #faf8f8;
    --vscode-side-bar-section-header-border: #e1dfdf;
    --vscode-list-hover-foreground: #3e3e3e;
    --vscode-list-inactive-selection-foreground: #3e3e3e;
    --vscode-list-active-selection-foreground: #3e3e3e;
    --vscode-list-inactive-selection-background: #eeecec;
    --vscode-list-hover-background: #eeecec;
    --vscode-list-active-selection-background: #e1dfdf;
    --vscode-list-inactive-focus-background: #dee7fc;
    --vscode-list-focus-background: #bbceff;
    --vscode-tree-indent-guides-stroke: #e1dfdf;
    --vscode-notification-center-header-foreground: #6a6a6a;
    --vscode-notification-center-header-background: #fff;
    --vscode-notifications-foreground: #3e3e3e;
    --vscode-notifications-background: #faf8f8;
    --vscode-notifications-border: #c8c7c7;
    --vscode-notification-toast-border: #c8c7c7;
    --vscode-notifications-error-icon-foreground: #df4047;
    --vscode-notifications-warning-icon-foreground: #df8128;
    --vscode-notifications-info-icon-foreground: #828282;
    --vscode-picker-group-border: #e1dfdf;
    --vscode-picker-group-foreground: #3e3e3e;
    --vscode-quick-input-background: #fff;
    --vscode-quick-input-foreground: #3e3e3e;
    --vscode-quick-input-title-background: #fff;
    --vscode-keybinding-label-background: #faf8f8;
    --vscode-keybinding-label-foreground: #3e3e3e;
    --vscode-keybinding-label-border: #e1dfdf;
    --vscode-keybinding-label-bottom-border: #e1dfdf;
    --vscode-status-bar-foreground: #6a6a6a;
    --vscode-status-bar-background: #fff;
    --vscode-status-bar-border: #e1dfdf;
    --vscode-status-bar-no-folder-background: #fff;
    --vscode-status-bar-debugging-background: #fc8f8e;
    --vscode-status-bar-debugging-foreground: #000;
    --vscode-status-bar-item-prominent-background: #e8eaed;
    --vscode-editor-group-header-tabs-background: #faf8f8;
    --vscode-editor-group-header-tabs-border: #e1dfdf;
    --vscode-editor-group-border: #e1dfdf;
    --vscode-tab-active-foreground: #3e3e3e;
    --vscode-tab-inactive-foreground: #6a6a6a;
    --vscode-tab-inactive-background: #faf8f8;
    --vscode-tab-active-background: #fff;
    --vscode-tab-active-border: #fff;
    --vscode-tab-active-border-top: #5876de;
    --vscode-tab-border: #e1dfdf;
    --vscode-tab-hover-background: #fff;
    --vscode-tab-unfocused-active-foreground: #b0afaf;
    --vscode-tab-unfocused-inactive-foreground: #b0afaf;
    --vscode-tab-unfocused-hover-foreground: #6a6a6a;
    --vscode-tab-unfocused-hover-background: #fff;
    --vscode-tab-unfocused-active-border-top: #e1dfdf;
    --vscode-tab-unfocused-active-border: #fff;
    --vscode-breadcrumb-foreground: #828282;
    --vscode-breadcrumb-focus-foreground: #3e3e3e;
    --vscode-breadcrumb-active-selection-foreground: #6a6a6a;
    --vscode-breadcrumb-picker-background: #fdfcfc;
    --vscode-editor-foreground: #292929;
    --vscode-editor-background: #fff;
    --vscode-editor-link-active-foreground: #4563ca;
    --vscode-editor-code-lens-foreground: #6a6a6a;
    --vscode-editor-widget-background: #fff;
    --vscode-editor-widget-border: #b0afaf;
    --vscode-editor-fold-background: #faf8f8;
    --vscode-editor-line-highlight-background: #faf8f8;
    --vscode-editor-line-number-foreground: #c8c7c7;
    --vscode-editor-line-number-active-foreground: #292929;
    --vscode-editor-indent-guide-background: #eeecec;
    --vscode-editor-indent-guide-active-background: #c8c7c7;
    --vscode-editor-whitespace-foreground: #c8c7c7;
    --vscode-editor-cursor-foreground: #3252b8;
    --vscode-editor-error-foreground: #df4047;
    --vscode-editor-warning-foreground: #df8128;
    --vscode-editor-info-foreground: #5876de;
    --vscode-editor-hint-foreground: #17975f;
    --vscode-editor-light-bulb-foreground: #df8128;
    --vscode-problems-error-icon-foreground: #df4047;
    --vscode-problems-warning-icon-foreground: #df8128;
    --vscode-problems-info-icon-foreground: #828282;
    --vscode-sash-hover-border: #5876de;
    --vscode-editor-find-match-background: rgba(223, 129, 40, .4);
    --vscode-editor-find-match-border: #df8128;
    --vscode-editor-find-match-highlight-background: rgba(255, 194, 110, .4);
    --vscode-editor-find-match-highlight-border: #ffc26e;
    --vscode-peek-view-border: #5876de;
    --vscode-peek-view-editor-match-highlight-background: rgba(223, 129, 40, .4);
    --vscode-peek-view-editor-match-highlight-border: #df8128;
    --vscode-peek-view-result-match-highlight-background: rgba(223, 129, 40, .4);
    --vscode-peek-view-editor-background: #faf8f8;
    --vscode-peek-view-result-background: #eeecec;
    --vscode-peek-view-result-selection-background: #e1dfdf;
    --vscode-editor-linked-editing-background: rgba(168, 127, 251, .6);
    --vscode-editor-inactive-selection-background: rgba(187, 206, 255, .4);
    --vscode-editor-selection-background: rgba(187, 206, 255, .6);
    --vscode-editor-selection-highlight-background: rgba(152, 228, 185, .6);
    --vscode-editor-selection-highlight-border: rgba(152, 228, 185, .6);
    --vscode-editor-word-highlight-background: rgba(255, 201, 170, .4);
    --vscode-editor-word-highlight-strong-background: rgba(255, 201, 170, .4);
    --vscode-editor-word-highlight-border: #ffc9aa;
    --vscode-editor-word-highlight-strong-border: #ffc9aa;
    --vscode-editor-bracket-match-background: rgba(171, 225, 248, .6);
    --vscode-editor-bracket-match-border: #abe1f8;
    --vscode-editor-gutter-modified-background: #98b1ff;
    --vscode-editor-gutter-added-background: #98e4b9;
    --vscode-editor-gutter-deleted-background: #fc8f8e;
    --vscode-editor-gutter-folding-control-foreground: #6a6a6a;
    --vscode-diff-editor-border: #e1dfdf;
    --vscode-diff-editor-inserted-text-background: #b2edca;
    --vscode-diff-editor-removed-text-background: #ffc8c7;
    --vscode-diff-editor-inserted-line-background: #daf8e4;
    --vscode-diff-editor-removed-line-background: #ffe5e4;
    --vscode-diff-editor-gutter-inserted-line-background: #e8fbec;
    --vscode-diff-editor-gutter-removed-line-background: #ffeeed;
    --vscode-diff-editor-overview-inserted-foreground: #b2edca;
    --vscode-diff-editor-overview-removed-foreground: #ffc8c7;
    --vscode-diff-editor-move-border: #999;
    --vscode-diff-editor-move-active-border: #4563ca;
    --vscode-scrollbar-shadow: hsla(212, 8%, 45%, .2);
    --vscode-scrollbar-slider-background: hsla(210, 8%, 62%, .2);
    --vscode-scrollbar-slider-hover-background: hsla(210, 8%, 62%, .27);
    --vscode-scrollbar-slider-active-background: hsla(210, 8%, 62%, .53);
    --vscode-editor-overview-ruler-border: #fff;
    --vscode-panel-background: #faf8f8;
    --vscode-panel-border: #e1dfdf;
    --vscode-panel-title-active-border: #5876de;
    --vscode-panel-title-active-foreground: #3e3e3e;
    --vscode-panel-title-inactive-foreground: #6a6a6a;
    --vscode-panel-input-border: #e1dfdf;
    --vscode-panel-section-header-background: #000;
    --vscode-panel-section-header-foreground: #3e3e3e;
    --vscode-panel-section-border: #e1dfdf;
    --vscode-menu-foreground: #3e3e3e;
    --vscode-menu-background: #faf8f8;
    --vscode-menu-selection-foreground: #3e3e3e;
    --vscode-menu-selection-background: #e1dfdf;
    --vscode-menu-separator-background: #e1dfdf;
    --vscode-menu-border: #c8c7c7;
    --vscode-terminal-foreground: #535353;
    --vscode-terminal-tab-active-border: #5876de;
    --vscode-terminal-cursor-background: #b0afaf;
    --vscode-terminal-cursor-foreground: #4563ca;
    --vscode-terminal-ansi-bright-white: #535353;
    --vscode-terminal-ansi-white: #6a6a6a;
    --vscode-terminal-ansi-bright-black: #000;
    --vscode-terminal-ansi-black: #3e3e3e;
    --vscode-terminal-ansi-blue: #4563ca;
    --vscode-terminal-ansi-bright-blue: #002583;
    --vscode-terminal-ansi-green: #007b49;
    --vscode-terminal-ansi-bright-green: #00522f;
    --vscode-terminal-ansi-cyan: #0075a2;
    --vscode-terminal-ansi-bright-cyan: #00607e;
    --vscode-terminal-ansi-red: #d03941;
    --vscode-terminal-ansi-bright-red: #a52430;
    --vscode-terminal-ansi-magenta: #6f4cde;
    --vscode-terminal-ansi-bright-magenta: #4d21bb;
    --vscode-terminal-ansi-yellow: #a65921;
    --vscode-terminal-ansi-bright-yellow: #904b1a;
    --vscode-git-decoration-added-resource-foreground: #17975f;
    --vscode-git-decoration-untracked-resource-foreground: #17975f;
    --vscode-git-decoration-modified-resource-foreground: #5876de;
    --vscode-git-decoration-deleted-resource-foreground: #df4047;
    --vscode-git-decoration-conflicting-resource-foreground: #c16f23;
    --vscode-git-decoration-ignored-resource-foreground: #999;
    --vscode-git-decoration-submodule-resource-foreground: #999;
    --vscode-debug-tool-bar-background: #fff;
    --vscode-editor-stack-frame-highlight-background: rgba(255, 211, 61, .2);
    --vscode-editor-focused-stack-frame-highlight-background: rgba(40, 167, 69, .15);
    --vscode-settings-header-foreground: #3e3e3e;
    --vscode-settings-modified-item-indicator: #7895ff;
    --vscode-welcome-page-button-background: #faf8f8;
    --vscode-welcome-page-button-hover-background: #e1dfdf;
    --vscode-editor-bracket-highlight-foreground1: #0075a2;
    --vscode-editor-bracket-highlight-foreground2: #d07826;
    --vscode-editor-bracket-highlight-foreground3: #6f4cde;
    --vscode-editor-bracket-highlight-foreground4: #0075a2;
    --vscode-editor-bracket-highlight-foreground5: #d07826;
    --vscode-editor-bracket-highlight-foreground6: #6f4cde;
    --vscode-editor-ghost-text-foreground: #b0afaf;
    --vscode-editor-inlay-hint-foreground: #828282;
    --vscode-editor-inlay-hint-background: hsla(0, 0%, 51%, .1);
    --vscode-editor-inlay-hint-type-foreground: #828282;
    --vscode-editor-inlay-hint-type-background: hsla(0, 0%, 51%, .1);
    --mat-progress-spinner-active-indicator-color: var(--vscode-progress-bar-background)
}

.dark {
    color-scheme: dark;
    --vscode-focus-border: #5876de;
    --vscode-foreground: rgb(222, 222, 223);
    --vscode-icon-foreground: #e1dfdf;
    --vscode-widget-shadow: hsla(0, 0%, 4%, .3);
    --vscode-description-foreground: #999;
    --vscode-error-foreground: #f76769;
    --vscode-toolbar-hover-background: hsla(0, 3%, 88%, .12);
    --vscode-toolbar-active-background: hsla(0, 3%, 88%, .24);
    --vscode-text-link-foreground: #88a3ff;
    --vscode-text-link-active-foreground: #98b1ff;
    --vscode-text-block-quote-background: #292929;
    --vscode-text-block-quote-border: rgb(83, 83, 83);
    --vscode-text-code-block-background: #3e3e3e;
    --vscode-text-preformat-foreground: #b0afaf;
    --vscode-text-separator-foreground: #6a6a6a;
    --vscode-list-warning-foreground: #ffb256;
    --vscode-list-error-foreground: #fa7b7c;
    --vscode-button-background: rgb(234, 234, 234);
    --vscode-button-hover-background: #88a3ff;
    --vscode-button-foreground: #000;
    --vscode-button-hover-foreground: rgb(220, 220, 225);
    --vscode-button-secondary-background: rgb(61, 63, 66);
    --vscode-button-secondary-foreground: #fff;
    --vscode-button-secondary-hover-background: rgb(77, 79, 81);
    --vscode-checkbox-background: #292929;
    --vscode-checkbox-foreground: #e1dfdf;
    --vscode-checkbox-border: rgb(73, 73, 73);
    --vscode-dropdown-background: #292929;
    --vscode-dropdown-border: rgb(73, 73, 73);
    --vscode-dropdown-foreground: #e1dfdf;
    --vscode-dropdown-list-background: #151515;
    --vscode-input-background: #292929;
    --vscode-input-border: rgb(73, 73, 73);
    --vscode-input-foreground: #e1dfdf;
    --vscode-input-placeholder-foreground: #999;
    --vscode-input-validation-error-border: #f76769;
    --vscode-input-option-active-border: #5876de;
    --vscode-input-option-active-background: rgba(69, 99, 202, .5);
    --vscode-input-option-active-foreground: #faf8f8;
    --vscode-badge-foreground: #bbceff;
    --vscode-badge-background: #3252b8;
    --vscode-progress-bar-background: #5876de;
    --vscode-title-bar-active-foreground: #e1dfdf;
    --vscode-title-bar-active-background: #1f1f1f;
    --vscode-title-bar-inactive-foreground: #828282;
    --vscode-title-bar-inactive-background: #151515;
    --vscode-title-bar-border: rgb(62, 62, 62);
    --vscode-command-center-background: #1f1f1f;
    --vscode-command-center-foreground: #999;
    --vscode-command-center-border: #3e3e3e;
    --vscode-command-center-active-background: #292929;
    --vscode-command-center-active-foreground: #e1dfdf;
    --vscode-command-center-active-border: #494949;
    --vscode-command-center-inactive-foreground: #828282;
    --vscode-command-center-inactive-border: #3e3e3e;
    --vscode-activity-bar-foreground: #e1dfdf;
    --vscode-activity-bar-inactive-foreground: #828282;
    --vscode-activity-bar-background: #1f1f1f;
    --vscode-activity-bar-badge-foreground: #000;
    --vscode-activity-bar-badge-background: #7895ff;
    --vscode-activity-bar-active-border: #7895ff;
    --vscode-activity-bar-border: #3e3e3e;
    --vscode-side-bar-foreground: #e1dfdf;
    --vscode-side-bar-background: #151515;
    --vscode-side-bar-border: #3e3e3e;
    --vscode-side-bar-title-foreground: #e1dfdf;
    --vscode-side-bar-section-header-foreground: #e1dfdf;
    --vscode-side-bar-section-header-background: #151515;
    --vscode-side-bar-section-header-border: #3e3e3e;
    --vscode-list-hover-foreground: #e1dfdf;
    --vscode-list-inactive-selection-foreground: #e1dfdf;
    --vscode-list-active-selection-foreground: #e1dfdf;
    --vscode-list-inactive-selection-background: #292929;
    --vscode-list-hover-background: #292929;
    --vscode-list-active-selection-background: #343434;
    --vscode-list-inactive-focus-background: rgba(0, 37, 131, .6);
    --vscode-list-focus-background: #002583;
    --vscode-tree-indent-guides-stroke: #3e3e3e;
    --vscode-notification-center-header-foreground: #828282;
    --vscode-notification-center-header-background: #292929;
    --vscode-notifications-foreground: #e1dfdf;
    --vscode-notifications-background: #2e2e2e;
    --vscode-notifications-border: #494949;
    --vscode-notification-toast-border: #494949;
    --vscode-notifications-error-icon-foreground: #f76769;
    --vscode-notifications-warning-icon-foreground: #ffa23e;
    --vscode-notifications-info-icon-foreground: #999;
    --vscode-picker-group-border: #535353;
    --vscode-picker-group-foreground: #e1dfdf;
    --vscode-quick-input-background: #151515;
    --vscode-quick-input-foreground: #e1dfdf;
    --vscode-quick-input-title-background: #151515;
    --vscode-keybinding-label-background: #1f1f1f;
    --vscode-keybinding-label-foreground: #e1dfdf;
    --vscode-keybinding-label-border: #3e3e3e;
    --vscode-keybinding-label-bottom-border: #3e3e3e;
    --vscode-status-bar-foreground: #b0afaf;
    --vscode-status-bar-background: #292929;
    --vscode-status-bar-border: #3e3e3e;
    --vscode-status-bar-no-folder-background: #292929;
    --vscode-status-bar-debugging-background: #891524;
    --vscode-status-bar-debugging-foreground: #fff;
    --vscode-status-bar-item-prominent-background: #282e34;
    --vscode-editor-group-header-tabs-background: #151515;
    --vscode-editor-group-header-tabs-border: #3e3e3e;
    --vscode-editor-group-border: #3e3e3e;
    --vscode-tab-active-foreground: #e1dfdf;
    --vscode-tab-inactive-foreground: #b0afaf;
    --vscode-tab-inactive-background: #151515;
    --vscode-tab-active-background: #1f1f1f;
    --vscode-tab-active-border: #1f1f1f;
    --vscode-tab-active-border-top: #7895ff;
    --vscode-tab-border: #3e3e3e;
    --vscode-tab-hover-background: #1f1f1f;
    --vscode-tab-unfocused-active-foreground: #828282;
    --vscode-tab-unfocused-inactive-foreground: #828282;
    --vscode-tab-unfocused-hover-foreground: #b0afaf;
    --vscode-tab-unfocused-hover-background: #292929;
    --vscode-tab-unfocused-active-border-top: #3e3e3e;
    --vscode-tab-unfocused-active-border: #1f1f1f;
    --vscode-breadcrumb-foreground: #999;
    --vscode-breadcrumb-focus-foreground: #e1dfdf;
    --vscode-breadcrumb-active-selection-foreground: #b0afaf;
    --vscode-breadcrumb-picker-background: #1f1f1f;
    --vscode-editor-foreground: #e1dfdf;
    --vscode-editor-background: rgb(35, 36, 37);
    --vscode-editor-link-active-foreground: #7895ff;
    --vscode-editor-code-lens-foreground: #999;
    --vscode-editor-widget-background: #292929;
    --vscode-editor-widget-border: #6a6a6a;
    --vscode-editor-fold-background: #252525;
    --vscode-editor-line-highlight-background: #292929;
    --vscode-editor-line-number-foreground: #535353;
    --vscode-editor-line-number-active-foreground: #e1dfdf;
    --vscode-editor-indent-guide-background: #3e3e3e;
    --vscode-editor-indent-guide-active-background: #535353;
    --vscode-editor-whitespace-foreground: #535353;
    --vscode-editor-cursor-foreground: #bbceff;
    --vscode-editor-error-foreground: #fc8f8e;
    --vscode-editor-warning-foreground: #ffc26e;
    --vscode-editor-info-foreground: #98b1ff;
    --vscode-editor-hint-foreground: #66ce98;
    --vscode-editor-light-bulb-foreground: #ffc26e;
    --vscode-problems-error-icon-foreground: #f76769;
    --vscode-problems-warning-icon-foreground: #ffa23e;
    --vscode-problems-info-icon-foreground: #999;
    --vscode-sash-hover-border: #7895ff;
    --vscode-editor-find-match-background: rgba(131, 67, 20, .4);
    --vscode-editor-find-match-border: #ffa23e;
    --vscode-editor-find-match-highlight-background: rgba(131, 67, 20, .6);
    --vscode-editor-find-match-highlight-border: #834314;
    --vscode-peek-view-border: #7895ff;
    --vscode-peek-view-editor-match-highlight-background: rgba(131, 67, 20, .4);
    --vscode-peek-view-editor-match-highlight-border: rgba(255, 162, 62, .3);
    --vscode-peek-view-result-match-highlight-background: rgba(131, 67, 20, .4);
    --vscode-peek-view-editor-background: #151515;
    --vscode-peek-view-result-background: #0a0a0a;
    --vscode-peek-view-result-selection-background: #3e3e3e;
    --vscode-editor-linked-editing-background: rgba(77, 33, 187, .6);
    --vscode-editor-inactive-selection-background: rgba(50, 82, 184, .3);
    --vscode-editor-selection-background: rgba(50, 82, 184, .5);
    --vscode-editor-selection-highlight-background: rgba(62, 62, 62, .6);
    --vscode-editor-selection-highlight-border: #3e3e3e;
    --vscode-editor-word-highlight-background: rgba(136, 45, 0, .4);
    --vscode-editor-word-highlight-strong-background: rgba(136, 45, 0, .6);
    --vscode-editor-word-highlight-border: #882d00;
    --vscode-editor-word-highlight-strong-border: #882d00;
    --vscode-editor-bracket-match-background: rgba(0, 75, 94, .6);
    --vscode-editor-bracket-match-border: #004b5e;
    --vscode-editor-gutter-modified-background: #4563ca;
    --vscode-editor-gutter-added-background: rgba(23, 151, 95, .5);
    --vscode-editor-gutter-deleted-background: #df4047;
    --vscode-editor-gutter-folding-control-foreground: #999;
    --vscode-diff-editor-border: #3e3e3e;
    --vscode-diff-editor-inserted-text-background: rgba(23, 151, 95, .2);
    --vscode-diff-editor-removed-text-background: rgba(223, 64, 71, .2);
    --vscode-diff-editor-inserted-line-background: rgba(23, 151, 95, .2);
    --vscode-diff-editor-removed-line-background: rgba(223, 64, 71, .2);
    --vscode-diff-editor-gutter-inserted-line-background: rgba(23, 151, 95, .1);
    --vscode-diff-editor-gutter-removed-line-background: rgba(223, 64, 71, .1);
    --vscode-diff-editor-overview-inserted-foreground: rgba(23, 151, 95, .4);
    --vscode-diff-editor-overview-removed-foreground: rgba(223, 64, 71, .4);
    --vscode-diff-editor-move-border: #828282;
    --vscode-diff-editor-move-active-border: #7895ff;
    --vscode-scrollbar-shadow: #000;
    --vscode-scrollbar-slider-background: hsla(212, 8%, 45%, .2);
    --vscode-scrollbar-slider-hover-background: hsla(212, 8%, 45%, .27);
    --vscode-scrollbar-slider-active-background: hsla(212, 8%, 45%, .53);
    --vscode-editor-overview-ruler-border: #000;
    --vscode-panel-background: rgb(27, 28, 29);
    --vscode-panel-border: rgb(70, 71, 73);
    --vscode-panel-title-active-border: #7895ff;
    --vscode-panel-title-active-foreground: #e1dfdf;
    --vscode-panel-title-inactive-foreground: #b0afaf;
    --vscode-panel-input-border: #3e3e3e;
    --vscode-panel-section-header-background: #000;
    --vscode-panel-section-header-foreground: #e1dfdf;
    --vscode-panel-section-border: #3e3e3e;
    --vscode-menu-foreground: #e1dfdf;
    --vscode-menu-background: #151515;
    --vscode-menu-selection-foreground: #e1dfdf;
    --vscode-menu-selection-background: #292929;
    --vscode-menu-separator-background: #3e3e3e;
    --vscode-menu-border: #494949;
    --vscode-terminal-foreground: #b0afaf;
    --vscode-terminal-tab-active-border: #7895ff;
    --vscode-terminal-cursor-background: #6a6a6a;
    --vscode-terminal-cursor-foreground: #98b1ff;
    --vscode-terminal-ansi-bright-white: #fdfcfc;
    --vscode-terminal-ansi-white: #b0afaf;
    --vscode-terminal-ansi-bright-black: #999;
    --vscode-terminal-ansi-black: #828282;
    --vscode-terminal-ansi-blue: #7895ff;
    --vscode-terminal-ansi-bright-blue: #98b1ff;
    --vscode-terminal-ansi-green: #17b877;
    --vscode-terminal-ansi-bright-green: #66ce98;
    --vscode-terminal-ansi-cyan: #25a6e9;
    --vscode-terminal-ansi-bright-cyan: #71c2ee;
    --vscode-terminal-ansi-red: #f76769;
    --vscode-terminal-ansi-bright-red: #fc8f8e;
    --vscode-terminal-ansi-magenta: #a87ffb;
    --vscode-terminal-ansi-bright-magenta: #c8aaff;
    --vscode-terminal-ansi-yellow: #ffa23e;
    --vscode-terminal-ansi-bright-yellow: #ffc26e;
    --vscode-git-decoration-added-resource-foreground: #17b877;
    --vscode-git-decoration-untracked-resource-foreground: #17b877;
    --vscode-git-decoration-modified-resource-foreground: #7895ff;
    --vscode-git-decoration-deleted-resource-foreground: #f76769;
    --vscode-git-decoration-conflicting-resource-foreground: #ffc26e;
    --vscode-git-decoration-ignored-resource-foreground: #828282;
    --vscode-git-decoration-submodule-resource-foreground: #828282;
    --vscode-debug-tool-bar-background: #292929;
    --vscode-editor-stack-frame-highlight-background: rgba(198, 144, 38, .15);
    --vscode-editor-focused-stack-frame-highlight-background: rgba(43, 106, 48, .2);
    --vscode-settings-header-foreground: #e1dfdf;
    --vscode-settings-modified-item-indicator: #5876de;
    --vscode-welcome-page-button-background: #3e3e3e;
    --vscode-welcome-page-button-hover-background: #535353;
    --vscode-editor-bracket-highlight-foreground1: #85cdf1;
    --vscode-editor-bracket-highlight-foreground2: #ffd395;
    --vscode-editor-bracket-highlight-foreground3: #bd9cfe;
    --vscode-editor-bracket-highlight-foreground4: #85cdf1;
    --vscode-editor-bracket-highlight-foreground5: #ffd395;
    --vscode-editor-bracket-highlight-foreground6: #bd9cfe;
    --vscode-editor-ghost-text-foreground: #6a6a6a;
    --vscode-editor-inlay-hint-foreground: #999;
    --vscode-editor-inlay-hint-background: hsla(0, 0%, 51%, .2);
    --vscode-editor-inlay-hint-type-foreground: #999;
    --vscode-editor-inlay-hint-type-background: hsla(0, 0%, 51%, .2);
}