@utility skeleton {
    background-color: var(--color-lifo-bg-skeleton);
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1)infinite;
}

@keyframes pulse {
    50% {
        opacity: .3;
    }
}

@layer components {
  [data-animation="scale"] {
    transition: scale 0.2s ease, opacity 0.2s ease;
  }
  
  .delete[data-animation="scale"] {
    scale: .7;
  }
  
  .visible[data-animation="scale"] {
    scale: 1;
  }
}

@layer components {
  [data-animate="slide"] {
    transition-property: opacity, top, left, right, bottom;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  
  [data-animation='open'][data-animate="slide"]  {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
    opacity: 1;
  }

  [data-animation='closed'][data-animate="slide"] {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
    opacity: 0;
  }
  
  [data-animate="slide"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
  }
  
  [data-animate="slide"][data-axis-x="left"] {
    --slide-start-left: 1.4rem;
    --slide-end-left: 1.4rem;
  }
  
  [data-animate="slide"][data-axis-x="right"] {
    --slide-start-right: 1.4rem;
    --slide-end-right: 1.4rem;
  }
  
  [data-animate="slide"][data-axis-y="top"] {
    --slide-start-top: -2rem;
    --slide-end-top: 1.5rem;
  }
  
  [data-animate="slide"][data-axis-y="bottom"] {
    --slide-start-bottom: -2rem;
    --slide-end-bottom: 1.5rem;
  }
}

@layer components {
  [data-animation="none"] {
    transition: none;
  }
  
  [data-animation="none"].delete {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
  }
  
  [data-animation="none"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
  }
  
  [data-animation='none'][data-axis-y='top'] {
    --slide-start-top: 1.5rem;
    --slide-end-top: 1.5rem;
  }
  
  [data-animation='none'][data-axis-y='bottom'] {
    --slide-start-bottom: 1.5rem;
    --slide-end-bottom: 1.5rem;
  }
  
  [data-animation="none"][data-axis-x="left"] {
    --slide-start-left: 1.5rem;
    --slide-end-left: 1.5rem;
  }
  
  [data-animation="none"][data-axis-x="right"] {
    --slide-start-right: 1.5rem;
    --slide-end-right: 1.5rem;
  }
  
  .visible[data-animation="scale"],
  .visible[data-animation="slide"],
  .visible[data-animation="fade"] {
    opacity: 1;
  }
  
  .delete[data-animation="scale"],
  .delete[data-animation="slide"],
  .delete[data-animation="fade"] {
    opacity: 0;
  }
  
  [data-animation="slide"] {
    transition: top 0.15s ease,
      left 0.15s ease,
      right 0.15s ease,
      bottom 0.15s ease,
      opacity 0.15s ease;
  }
  
  [data-animation="slide"].delete,
  [data-animation="slide"] {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
  }
  
  [data-animation="slide"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
  }
  
  [data-animation="slide"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
  }
  
  [data-animation="slide"][data-axis-x="left"] {
    --slide-start-left: 1.4rem;
    --slide-end-left: 1.4rem;
  }
  
  [data-animation="slide"][data-axis-x="right"] {
    --slide-start-right: 1.4rem;
    --slide-end-right: 1.4rem;
  }
  
  [data-animation="slide"][data-axis-y="top"] {
    --slide-start-top: -2rem;
    --slide-end-top: 1.5rem;
  }
  
  [data-animation="slide"][data-axis-y="bottom"] {
    --slide-start-bottom: -2rem;
    --slide-end-bottom: 1.5rem;
  }
  
  [data-animation="scale"].delete {
    top: var(--slide-start-top, auto);
    left: var(--slide-start-left, auto);
    right: var(--slide-start-right, auto);
    bottom: var(--slide-start-bottom, auto);
  }
  
  [data-animation="scale"].visible {
    top: var(--slide-end-top, auto);
    left: var(--slide-end-left, auto);
    right: var(--slide-end-right, auto);
    bottom: var(--slide-end-bottom, auto);
  }
  
  [data-animation="scale"][data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
  }
  
  [data-animation='scale'][data-axis-x="left"][data-scale-offset='left'] {
    transform-origin: left center;
  }
  
  [data-animation='scale'][data-axis-x="center"][data-scale-offset='center'] {
    transform-origin: center left;
  }
  
  [data-animation='scale'][data-axis-x="right"][data-scale-offset='right'] {
    transform-origin: center right;
  }
  
  [data-animation="scale"][data-axis-x="left"] {
    --slide-start-left: 1.5rem;
    --slide-end-left: 1.5rem;
  }
  
  [data-animation="scale"][data-axis-x="right"] {
    --slide-start-right: 1.5rem;
    --slide-end-right: 1.5rem;
  }
  
  [data-animation="scale"][data-axis-y="top"] {
    --slide-start-top: 1.5rem;
    --slide-end-top: 1.5rem;
  }
  
  [data-animation="scale"][data-axis-y="bottom"] {
    --slide-start-bottom: 1.22rem;
    --slide-end-bottom: 1.5rem;
  }
  
  [data-animation="fade"] {
    transition: opacity 0.2s ease;
  }
  
  [data-animation="fade"].delete {
    top: var(--fade-start-top, auto);
    left: var(--fade-start-left, auto);
    right: var(--fade-start-right, auto);
    bottom: var(--fade-start-bottom, auto);
  }
  
  [data-animation="fade"].visible {
    top: var(--fade-end-top, auto);
    left: var(--fade-end-left, auto);
    right: var(--fade-end-right, auto);
    bottom: var(--fade-end-bottom, auto);
  }
  
  [data-animation='fade'][data-axis-y='top'] {
    --fade-start-top: 1.5rem;
    --fade-end-top: 1.5rem;
  }
  
  [data-animation='fade'][data-axis-y='bottom'] {
    --fade-start-bottom: 1.5rem;
    --fade-end-bottom: 1.5rem;
  }
  
  [data-animation="fade"][data-axis-x="left"] {
    --fade-start-left: 1.5rem;
    --fade-end-left: 1.5rem;
  }
  
  [data-animation="fade"][data-axis-x="right"] {
    --fade-start-right: 1.5rem;
    --fade-end-right: 1.5rem;
  }
  
  [data-animation="custom"] {
    transition: opacity var(--custom-duration, .17s) ease, transform var(--custom-duration, .17s) ease,
      top var(--custom-duration, .17s) ease, left var(--custom-duration, .17s) ease, right var(--custom-duration, .17s) ease, bottom var(--custom-duration, .17s) ease;
  }
  
  [data-animation="custom"].delete {
    top: var(--custom-start-top);
    left: var(--custom-start-left);
    right: var(--custom-start-right);
    bottom: var(--custom-start-bottom);
    opacity: var(--custom-start-opacity, 0);
    transform: var(--custom-start-transform, 'translate(-50%, -50%)');
  }
  
  [data-animation="custom"].visible {
    top: var(--custom-end-top);
    left: var(--custom-end-left);
    right: var(--custom-end-right);
    bottom: var(--custom-end-bottom);
    opacity: var(--custom-end-opacity, 1);
    transform: var(--custom-end-transform, 'translate(-50%, -50%)');
  }
}

@keyframes rotate {
  to {
    transform: rotate(720deg);
  }
}

@utility pointer {
  cursor: pointer;
  user-select: none;
  pointer-events: visible !important;
}

@utility no-select {
  user-select: none;
  pointer-events: none;
}

@utility select {
  user-select: text;
  pointer-events: visible;
}

/*Buttons*/

@utility btn {
  min-height: 32px;
  line-height: 1.6;
  padding: 5px 12px;
  font-size: calc(var(--font-multiplier) * 14px );
  min-width: max-content;
  height: max-content;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-weight: 400;
}

.btn:active {
  transform: scale(0.97);
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.btn,
button {
  outline: 0px solid transparent;
  transition: outline  0.1s;
}

.btn[data-focus-visible],
button[data-focus-visible] {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

@utility btn-primary {
  background-color: var(--color-btn-primary);
  color: var(--color-lifo-title-inverse);
  font-weight: 500;
  letter-spacing: normal;
}

.btn-primary .lb-circular-root svg {
  stroke: rgb(var(--lb-bg)) !important;
}

.btn-primary:hover {
  background-color: var(--color-btn-primary-hover);
}

@utility btn-secondary {
  background-color: var(--color-lifo-bg-third);
  color: var(--color-lifo-title);
}

.btn-secondary:hover {
  background-color: var(--color-lifo-bg-fourth);
}

@utility btn-third {
  border: solid 1px var(--color-lifo-border);
  color: var(--color-lifo-title);
}

.btn-third:hover {
  background-color: var(--color-lifo-bg-third);
}

@utility btn-fourth {
  background-color: transparent;
}

.btn-fourth:hover {
  background-color: var(--color-lifo-bg-third);
}

@media (550px > width) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@utility d-flex {
  display: flex;
}

@utility d-none{
  display: none;
}

@utility f-col {
  display: flex;
  flex-direction: column;
}

@utility f-row {
  display: flex;
  flex-direction: row;
}

@utility f-center {
  justify-content: center;
  align-items: center;
}

@utility f-wrap {
  flex-wrap: wrap;
}

@utility f-nowrap {
  flex-wrap: nowrap !important;
}

@utility f-grow{
  flex-grow: 1;
}

@utility d-grid{
  display: grid;
}

@utility place-center{
  place-content: center;
}

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url('/src/assets/fonts/Inter.ttf');
    }
    @font-face {
        font-family: 'Geist';
        src: url('/src/assets/fonts/Geist.ttf');
    }
}

@theme {
    --font-multiplier: 1;
}

@utility fw-100 {
    font-weight: 100;
}

@utility fw-200 {
    font-weight: 200;
}

@utility fw-300 {
    font-weight: 300;
}

@utility fw-400 {
    font-weight: 400;
}

@utility fw-500 {
    font-weight: 500;
}

@utility fw-600 {
    font-weight: 600;
}

@utility fw-700 {
    font-weight: 700;
}

@utility fw-800 {
    font-weight: 800;
}

@utility fw-900 {
    font-weight: 900;
}

@utility fs-10 {
    font-size: calc(var(--font-multiplier) * 10px);
}

@utility fs-11 {
    font-size: calc(var(--font-multiplier) * 11px);
}

@utility fs-12 {
    font-size: calc(var(--font-multiplier) * 12px);
}

@utility fs-13 {
    font-size: calc(var(--font-multiplier) * 13px);
}

@utility fs-14 {
    font-size: calc(var(--font-multiplier) * 14px);
}

@utility fs-15 {
    font-size: calc(var(--font-multiplier) * 15px);
}

@utility fs-16 {
    font-size: calc(var(--font-multiplier) * 16px);
}

@utility fs-17 {
    font-size: calc(var(--font-multiplier) * 17px);
}

@utility fs-18 {
    font-size: calc(var(--font-multiplier) * 18px);
}

@utility fs-19 {
    font-size: calc(var(--font-multiplier) * 19px);
}

@utility fs-20 {
    font-size: calc(var(--font-multiplier) * 20px);
}

@utility fs-21 {
    font-size: calc(var(--font-multiplier) * 21px);
}

@utility fs-22 {
    font-size: calc(var(--font-multiplier) * 22px);
}

@utility fs-23 {
    font-size: calc(var(--font-multiplier) * 23px);
}

@utility fs-24 {
    font-size: calc(var(--font-multiplier) * 24px);
}

@layer base {
  * {
    font-family: Geist, Inter, Google Sans, Segoe UI, system-ui, -apple-system, sans-serif, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html[data-scroll-lock="true"] {
    overflow: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 6px;
    border-width: 2px;
  }
  
  *::-webkit-scrollbar {
    width: 4px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-lifo-border-high);
    border-radius: 10px;
    background-clip: padding-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  svg {
    pointer-events: none;
  }
  
  input[type="file"] {
    display: none;
  }
  
  input:active,
    input:focus-visible {
    border: none;
    outline: none;
  }
  
  .input-wrapper {
    transition: outline-width 0.1s ease;
  }
  
  .input-wrapper:focus-within {
    border: 0px solid var(--color-lifo-border-high);
    outline: 0px solid var(--color-lifo-border-low);
  }
  
  .input-wrapper svg {
    color: var(--color-lifo-text);
  }
  
  input[type="file"] {
    display: none;
  }
  
  .info {
    color: var(--color-info);
  }
}

@media (prefers-reduced-motion:reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (hover:none) {
  *::-webkit-scrollbar {
    display: none;
  }
  
  button:hover {
    /* Quita efectos hover en dispositivos táctiles */
    background: inherit;
    transform: none;
  }
}

@utility o-auto {
  overflow: auto;
}

@utility o-hidden {
  overflow: hidden;
}

@utility o-scroll {
  overflow: scroll;
}

@utility o-visible {
  overflow: visible;
}

@utility ox-hidden {
  overflow-x: hidden;
}

@utility ox-visible {
  overflow-x: visible;
}

@utility ox-scroll {
  overflow-x: scroll;
}

@utility ox-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

@utility oy-hidden {
  overflow-y: hidden;
}

@utility oy-visible {
  overflow-y: visible;
}

@utility oy-scroll {
  overflow-y: scroll;
}

@utility oy-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

@layer components {
  .accordion {
    transition: padding var(--custom-duration, .15s) ease-in-out;
    padding-bottom: 0px;
  }
  
  .accordion.expanded {
    padding-bottom: 16px;
  }
  
  .accordion-trigger:focus-visible {
    border: none;
    outline: 2px solid dodgerblue;
  }
  
  .accordion-panel {
    transition: height var(--custom-duration, .12s) ease-in-out,
      margin-top var(--custom-duration, .15s) ease-in-out,
      opacity var(--custom-duration, .15s) ease-in-out;
    height: var(--disclosure-panel-height);
    margin-top: 0px;
    opacity: 0;
  }
  
  .accordion-panel.expanded {
    margin-top: 6px;
    opacity: 1;
  }
}

@layer components {
    .lb-dm-togle {
        position: relative;
        border-radius: 999px;
        height: 22px;
        width: 38px;
        background-color: #7b7b7b;
    }

    .lb-dm-togle.active {
        background-color: #1f6feb;
    }

    .lb-dm-togle span {
        border-radius: 50%;
        display: flex;
        height: 70%;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        aspect-ratio: 1;
        position: absolute;
        background-color: #fff;
        transition: left .1s ease;
    }

    .lb-dm-togle.active span {
        left: calc(100% - 19px);
        right: 4px;
    }

    .lb-dm-icon-toggle {
        border: solid 1px var(--color-lifo-border);
        padding: .26rem;
        aspect-ratio: 1 / 1;
        width: max-content;
    }

    .lb-dm-icon-toggle:hover {
        background-color: var(--color-lifo-bg-third);
    }

}

@layer components {
  .react-aria-ModalOverlay {
    width: 100vw;
    height: var(--page-height);
    z-index: 100;
    background: #00000051;
    position: absolute;
    top: 0;
    outline: none;
    left: 0;
    transition: opacity 0.18s ease;
  }
  
  .react-aria-Modal {
    position: fixed;
    top: 46%;
    left: 50%;
    translate: -50% -50%;
    transition: all 0.3s ease;
  }
  
  .react-aria-Modal[data-entering],
  .react-aria-Modal[data-exiting],
  .react-aria-ModalOverlay[data-entering],
  .react-aria-ModalOverlay[data-exiting] {
    opacity: 0;
  }
  
  .react-aria-Modal[data-entering] {
    top: 50%;
  }
  
  .react-aria-Modal[data-exiting] {
    top: 46%;
  }
  
  .react-aria-Dialog {
    max-height: var(--visual-viewport-height);
    background-color: var(--color-lifo-bg-secondary);
    width: max-content;
    min-width: 420px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--color-lifo-border-low);
    padding: 36px;
    color: var(--color-lifo-text-high);
    font-size: 14px;
    transition: all 0.25s ease;
  }
}

.react-aria-Menu {
  background-color: var(--color-lifo-bg-secondary);
  border-radius: 6px;
  outline: none;
  border: solid 1px var(--color-lifo-border-low);
  padding: 4px;
  font-size: 14px;
  min-width: 190px;
  width: max-content;
}

[data-trigger="SubmenuTrigger"] .react-aria-Menu {
  min-width: 120px;
}

.react-aria-MenuItem {
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: 400;
  outline: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  user-select: none;
}

.react-aria-MenuItem[data-focused="true"] {
  background-color: var(--color-lifo-border-low);
}

.react-aria-MenuItem[data-open="true"] {
  background-color: var(--color-lifo-border-low);
}

.react-aria-MenuItem[data-disabled="true"] {
  color: var(--color-lifo-text-low);
  font-weight: 500;
}

@layer components {
  .react-aria-Popover {
    opacity: 1;
    min-width: var(--trigger-width);
    transform-origin: var(--trigger-anchor-point);
    transition-property: transform, scale, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    overflow: hidden;
  }
  
  .react-aria-Popover[data-entering="true"],
  .react-aria-Popover[data-exiting="true"] {
    scale: .96;
    opacity: 0;
  }
  
  .react-aria-Tooltip {
    background-color: var(--color-lifo-bg-third);
    border: solid 1px var(--color-lifo-border-high);
    border-radius: 4px;
    padding: 6px 12px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 575;
    line-height: 1.5;
    user-select: none;
    pointer-events: none;

   transition: transform .18s, opacity .2s;

  &[data-entering] {
    opacity: 0;
    transform: scale(0.925);
  }
  
  &[data-exiting] {
    transform: scale(0.85);
    opacity: 0;
  }
}
}

@layer components {
  .react-aria-ListBox {
    border: 1px solid var(--color-lifo-border);
    background-color: var(--color-lifo-bg-secondary);
    border-radius: 6px;
    outline: none;
    flex-direction: column;
    width: var(--trigger-width, 250px);
    font-size: 14px;
    min-height: 100px;
    min-width: max-content;
    max-height: 420px;
    padding: 4px;
    display: flex;
    overflow: auto;
  }
  
  .react-aria-ListBoxItem {
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 400;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    user-select: none;
  }
  
  .react-aria-ListBoxItem[data-disabled="true"] {
    color: var(--color-lifo-text-low);
    font-weight: 500;
  }
  
  .react-aria-ListBoxItem[data-focused="true"],
  .react-aria-ListBoxItem[data-selected="true"][data-selection-mode="multiple"],
  .react-aria-ListBoxItem[data-hovered="true"] {
    background-color: var(--color-lifo-border);
  }
  
  [data-placeholder] {
    color: var(--color-lifo-text);
    font-style: italic;
  }
}

@layer components {
  .flifo-portal {
    height: 100%;
    width: calc(100% - var(--padding-cut, 0px));
    top: 0%;
    left: 0%;
    z-index: 1100;
    pointer-events: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--custom-duration, 0.25s) ease, opacity var(--custom-duration, 0.25s) ease;
  }
  
  .flifo-portal.visible {
    opacity: 1;
  }
  
  .flifo-portal.delete {
    opacity: 0;
  }
  
  .action-icon {
    border: none !important;
    transition: rotate var(--custom-duration, 0.25s) ease;
  }
  
  .action-icon:hover {
    background-color: var(--color-lifo-bg-third);
  }
}

/* @import './library/Toast.css'; */

@layer components {
  .card-loading {
    background-color: var(--color-project-bg, var(--color-lifo-bg));
    pointer-events: visible;
    min-height: 66px;
    min-width: 100px;
    z-index: 1500;
  }
  
  .page-load {
    background-color: var(--color-project-bg, var(--color-lifo-bg));
    position: absolute;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 110000;
    transition: visibility 0.15s ease, opacity 0.15s ease;
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
  }
  
  .page-load.hidden {
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    opacity: 0;
  }
  
  .action-icon {
    background-color: var(--color-project-bg-secondary, var(--color-lifo-bg-secondary));
  }
  
  .custom-spin {
    animation: rotate .75s linear forwards infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .noti-container {
    width: 90dvw;
    min-width: 340px;
    max-width: 520px;
    color: inherit;
    background-color: var(--color-lifo-bg-secondary);
  }
  
  .noti-details {
    max-height: 0;
    transition: max-height var(--custom-duration, 0.12s) ease-in-out,
      opacity var(--custom-duration, 0.17s) ease-out;
  }
}

@layer components {
  .tab-list {
    background-color: var(--color-lifo-bg);
  }
  
  .tab-item {
    color: var(--color-lifo-text);
  }
  
  .tab-indicator {
    color: var(--color-lifo-title);
    background-color: var(--color-lifo-bg-secondary);
    border: solid 1px var(--color-lifo-border);
  }
  
  .tab-content-item {
    background: var(--color-lifo-bg-secondary);
    border: solid 1px var(--color-lifo-border);
    min-width: 340px;
    min-height: 200px;
  }
}

@theme {
  --color-info: rgb(38 147 255);
  --color-error: rgb(249, 23, 23);
  --color-warn: rgb(252, 163, 31);
  --color-success: rgb(30, 187, 18);
}

.light {
  --color-info: rgb(38 147 255);
  --color-error: rgb(249, 23, 23);
  --color-warn: rgb(252, 163, 31);
  --color-success: rgb(30, 187, 18);
}

.dark {
  --color-info: rgb(0, 128, 255);
  --color-error: rgb(249, 23, 23);
  --color-warn: rgb(252, 163, 31);
  --color-success: rgb(30, 187, 18);
}

@theme {
  --lifo-primary: #0c77e2;
}

.light {
  --lifo-toast-title: #121212;
  --lifo-toast-description: #393939;
  --lifo-toast-success: #4fb551;
  --lifo-toast-warning: #de7700;
  --lifo-toast-error: #ea4f4f;
  --lifo-toast-info: #318de9;
  --lifo-toast-success-bg: #d8fcca;
  --lifo-toast-warning-bg: #fcddaf;
  --lifo-toast-error-bg: #fee5e5;
  --lifo-toast-info-bg: #d0e7ff;
}

.dark {
  --lifo-toast-title: #f5f5f5;
  --lifo-toast-description: #dbdbdb;
  --lifo-toast-warning: #e99724;
  --lifo-toast-success: #3ecc41;
  --lifo-toast-error: #ff3636;
  --lifo-toast-info: #0f84f9;
  --lifo-toast-success-bg: #1e241f;
  --lifo-toast-warning-bg: #281e16;
  --lifo-toast-error-bg: #2f1d1d;
  --lifo-toast-info-bg: #11232d;
}

@layer components {
  .note-info {
    border: solid 1px var(--lifo-toast-info);
    background-color: var(--lifo-toast-info-bg);
    color: var(--lifo-toast-info);
  }
  
  .note-error {
    border: solid 1px var(--lifo-toast-error);
    background-color: var(--lifo-toast-error-bg);
    color: var(--lifo-toast-error);
  }
  
  .note-warn {
    border: solid 1px var(--lifo-toast-warning);
    background-color: var(--lifo-toast-warning-bg);
    color: var(--lifo-toast-warning);
  }
  
  .note-success {
    border: solid 1px var(--lifo-toast-success);
    background-color: var(--lifo-toast-success-bg);
    color: var(--lifo-toast-success);
  }
  
  .note-default {
    border: solid 1px var(--color-lifo-border);
    background-color: var(--color-lifo-bg);
    color: var(--color-lifo-title);
  }
}

@theme {
  --color-lifo-bg: #fff;
  --color-lifo-bg-secondary: #f5f5f5;
  --color-lifo-bg-third: #f5f5f5;
  --color-lifo-bg-fourth: #f5f5f5;
  --color-lifo-bg-skeleton: #202020;
  
  --color-lifo-border: #e1dfdf;
  --color-lifo-border-low: #e1dfdf;
  --color-lifo-border-high: #e1dfdf;
  
  --color-lifo-title: #000;
  --color-lifo-title-inverse: #fff;
  --color-lifo-text-high: #242424;
  --color-lifo-text: #000000;
  --color-lifo-text-low: #808080;
  --color-lifo-text-inverse: #b3b3b3;
  
  --color-btn-primary: #000000;
  --color-btn-primary-hover: #121212;
}

.light {
  color-scheme: light;
  --color-lifo-bg: #fff;
  --color-lifo-bg-secondary: #f5f5f5;
  --color-lifo-bg-third: #f5f5f5;
  --color-lifo-bg-fourth: #f5f5f5;
  --color-lifo-border: #e1dfdf;
  --color-lifo-border-low: #e1dfdf;
  --color-lifo-border-high: #e1dfdf;
  --color-lifo-title: #000;
  --color-lifo-title-inverse: #fff;
  --color-lifo-text-high: #242424;
  --color-lifo-text: #000000;
  --color-lifo-text-inverse: #b3b3b3;
  --color-btn-primary: #000000;
  --color-btn-primary-hover: #121212;
}

.dark {
  color-scheme: dark;
  --color-lifo-bg: #000;
  --color-lifo-bg-secondary: #121212;
  --color-lifo-bg-third: #222222;
  --color-lifo-bg-fourth: rgb(70 70 72);
  --color-lifo-bg-skeleton: #222222;
  --color-lifo-border: #353535;
  --color-lifo-border-low: #282828;
  --color-lifo-border-high: #555555;
  --color-lifo-title: #fff;
  --color-lifo-title-inverse: #000;
  --color-lifo-text-high: #cbcbcb;
  --color-lifo-text: #b3b3b3;
  --color-lifo-text-low: #808080;
  --color-lifo-text-inverse: #000;
  --color-btn-primary: #fff;
  --color-btn-primary-hover: #e6e6e6;
}

.box {
  background: dodgerblue;
  color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
    transform: scale(0.95);
  }

  &[data-entering] {
    transform: scale(0);
  }
}

/* WORKS */
