@import './Flifo.css';

@import 'tailwindcss';

html {
  @apply bg-lifo-bg;
}

input:active,
  input:focus-visible {
  border: none;
  outline: none;
}

.input-wrapper:focus-within,
  button:focus-visible {
  @apply border-lifo-border-high;
  outline: 1px solid var(--color-lifo-border-low);
}

.input-wrapper svg {
  color: var(--color-lifo-text);
}

