.dropdown-content {
    background: var(--vscode-panel-background);
    border: solid 1px var(--vscode-panel-border);
    z-index: 2000;
    left: 1rem;
    transform-origin: top center;
    transition: opacity 0.1s ease, scale 0.1s ease;
}

.dropdown-content.visible {
    scale: 1;
    opacity: 1;
}

.dropdown-content.delete {
    scale: 0.9;
    opacity: 0;
}

.dropdown-head {
    padding: .55rem .8rem;
}

.dropdown-section {
    padding: .32rem .3rem;
    border-top: solid 1px var(--vscode-panel-border);
}

.dropdown-item {
    display: flex;
    padding: .45rem .5rem;
    transition: background-color 0.15s cubic-bezier(.4, 0, .2, 1);
}

.dropdown-item:hover {
    background-color: rgba(var(--lb-bg-4), .6);
}