.dropdown-content {
    background: var(--color-lifo-bg-secondary);
    border: solid 1px var(--color-lifo-border-low);
    z-index: 2000;
    left: 1rem;
    transform-origin: top center;
    transition: opacity 0.1s ease, scale 0.1s ease;
}

.dropdown-content.visible {
    scale: 1;
    opacity: 1;
}

.dropdown-content.delete {
    scale: 0.9;
    opacity: 0;
}

.dropdown-head {
    border-bottom: solid 1px var(--color-lifo-border-low);
    padding: .55rem .8rem;
}

.dropdown-section {
    padding: .32rem .3rem;
    border-top: solid 1px var(--color-lifo-border-low);
}

.dropdown-item {
    display: flex;
    padding: .45rem .4rem .45rem .55rem;
    min-width: 170px;
    transition: background-color 0.15s cubic-bezier(.4, 0, .2, 1);
}

.dropdown-item:hover {
    background-color: var(--color-lifo-bg-third);
}