.noti-container {
  width: 90dvw;
  min-width: 340px;
  max-width: 520px;
  color: inherit;
  background-color: var(--color-lifo-bg-secondary);
}

.noti-details {
  max-height: 0;
  transition:
    max-height var(--custom-duration, 0.12s) ease-in-out,
    opacity var(--custom-duration, 0.17s) ease-out;
  ;
}