.tab-list {
    background-color: var(--vscode-side-bar-background);
}

.tab-item {
    color: rgb(var(--fc-text))
}

.tab-item.active-tab {
    color: rgb(var(--fc-title));
    background-color: var(--vscode-editor-background);
    outline: solid 1px var(--vscode-panel-border);
}

.tab-content {}

.tab-content-item {
    background: var(--vscode-editor-background);
    border: solid 1px var(--vscode-panel-border);
    min-width: 340px;
    min-height: 200px;
}