.toast-container {
    pointer-events: all;
    font-weight: 500;
}


.toast-item {
    width: max-content;
    min-width: 330px;
    max-width: 470px;
    padding: .6rem 1rem;
    background-color: var(--vscode-editor-background);
    border: solid 1px var(--vscode-panel-border);
    color: var(--vscode-description-foreground);
    user-select: auto;
}

.toast-icon {
    height: 24px;
    aspect-ratio: 1/1;
}