.toast-container {
    pointer-events: all;
}

.toast-item {
    width: max-content;
    min-width: 340px;
    max-width: 90dvw;
    padding: .6rem .7rem;
    color: var(--color-lifo-text);
    background-color: var(--color-lifo-bg-secondary);
    outline: solid 1px var(--color-lifo-border);
    user-select: auto;
}

.toast-icon {
    color: var(--color-lifo-title);
    height: 24px;
    aspect-ratio: 1/1;
}

.toast-item[data-toast-type="success"][data-iscolor="true"] {
    outline: solid 1px var(--lifo-toast-success) !important;
    background-color: var(--lifo-toast-success-bg) !important;
}

.toast-item[data-toast-type="error"][data-iscolor="true"] {
    outline: solid 1px var(--lifo-toast-error) !important;
    background-color: var(--lifo-toast-error-bg) !important;
}

.toast-item[data-toast-type="warning"][data-iscolor="true"] {
    outline: solid 1px var(--lifo-toast-warning) !important;
    background-color: var(--lifo-toast-warning-bg) !important;
}

.toast-item[data-toast-type="info"][data-iscolor="true"] {
    outline: solid 1px var(--lifo-toast-info) !important;
    background-color: var(--lifo-toast-info-bg) !important;
}

.toast-item>.f-row {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;

    -webkit-mask-image: linear-gradient(to right, black 90%, transparent);
    mask-image: linear-gradient(to right, black 90%, transparent);
}



.toast-icon {
    height: 24px;
    aspect-ratio: 1/1;
}

.toast-icon svg {
    color: var(--color-lifo-title);
}

.toast-item[data-iscolor="true"][data-toast-type="success"] svg {
    color: var(--lifo-toast-success);
}

.toast-item[data-iscolor="true"][data-toast-type="warning"] svg {
    color: var(--lifo-toast-warning);
}

.toast-item[data-iscolor="true"][data-toast-type="error"] svg {
    color: var(--lifo-toast-error);
}

.toast-item[data-iscolor="true"][data-toast-type="info"] svg {
    color: var(--lifo-toast-info);
}


@media (max-width: 600px) {
    .toast-container[data-axis-x="left"],
    .toast-container[data-axis-x="right"] {
        left: 50%;
        transform: translateX(-50%);
    }
    .toast-item{
        width: 90dvw;
    }
}
