@layer components {
  .accordion {
    transition: padding var(--custom-duration, .15s) ease-in-out;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    border-bottom: solid 1px var(--color-gray-6);
    font-size: var(--text-p2);
    color: var(--color-gray-12);
  }
  
  .accordion.expanded {
    padding-bottom: 16px;
  }
  
  .accordion-trigger {
    padding-top: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 3);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .accordion-trigger:focus-visible {
    border: none;
    outline: 2px solid dodgerblue;
  }
  
  .accordion-panel {
    transition: height var(--custom-duration, .12s) ease-in-out,
      margin-top var(--custom-duration, .15s) ease-in-out,
      opacity var(--custom-duration, .15s) ease-in-out;
    height: var(--disclosure-panel-height);
    margin-top: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    max-width: var(--container-3xl);
    font-weight: 400;
    width: 100%;
    --tw-leading: var(--leading-relaxed);
    line-height: var(--leading-relaxed);
  }
  
  .accordion-panel.expanded {
    margin-top: 6px;
    opacity: 1;
  }
}