@layer components {
  .flifo-portal {
    height: 100%;
    width: calc(100% - var(--padding-cut, 0px));
    top: 0%;
    left: 0%;
    z-index: 1100;
    pointer-events: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--custom-duration, 0.25s) ease, opacity var(--custom-duration, 0.25s) ease;
  }
  
  .flifo-portal.visible {
    opacity: 1;
  }
  
  .flifo-portal.delete {
    opacity: 0;
  }
  
  .action-icon {
    border: none !important;
    transition: rotate var(--custom-duration, 0.25s) ease;
  }
  
  .action-icon:hover {
    background-color: var(--color-lifo-bg-third);
  }
}
