@layer components {
  .card-loading {
    background-color: var(--color-project-bg, var(--color-lifo-bg));
    pointer-events: visible;
    min-height: 66px;
    min-width: 100px;
    z-index: 1500;
  }
  
  .page-load {
    background-color: var(--color-project-bg, var(--color-gray-1));
    position: fixed;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 110000;
    transition: visibility 0.15s ease, opacity 0.15s ease;
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
  }
  
  .page-load.hidden {
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    opacity: 0;
  }

  .page-load span {
    animation: rotate .75s linear forwards infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    color: var(--color-gray-12);
  }
}
