@layer components {
  .react-aria-ListBox {
    border: 1px solid var(--color-gray-6);
    background-color: var(--color-gray-3);
    border-radius: 6px;
    outline: none;
    flex-direction: column;
    width: var(--trigger-width, 250px);
    font-size: 14px;
    min-height: 100px;
    min-width: max-content;
    max-height: 420px;
    padding: 4px;
    display: flex;
    overflow: auto;
    color: var(--color-gray-12);
  }
  
  .react-aria-ListBoxItem {
    padding: 5px 8px;
    border-radius: 4px;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    user-select: none;
  }
  
  .react-aria-ListBoxItem[data-disabled="true"] {
    color: var(--color-gray-10);
    font-weight: 500;
  }
  
  .react-aria-ListBoxItem[data-focused="true"],
  .react-aria-ListBoxItem[data-selected="true"][data-selection-mode="multiple"],
  .react-aria-ListBoxItem[data-hovered="true"] {
    background-color: var(--color-gray-6);
  }

  .light .react-aria-ListBoxItem[data-focused="true"],
  .light .react-aria-ListBoxItem[data-selected="true"][data-selection-mode="multiple"],
  .light .react-aria-ListBoxItem[data-hovered="true"] {
    background-color: var(--color-gray-4);
  }
  
  [data-placeholder] {
    color: var(--color-gray-9);
    font-style: italic;
  }
}