@layer components {
  .toast-overlay {
    position: fixed;
    overflow: hidden;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
  }
  
  .toast-wrapper {
    position: absolute;
    user-select: text;
    pointer-events: visible;
    transition: opacity 0.15s, top 0.15s, bottom 0.15s, left 0.15s, right 0.15s;
    --end-position: 1.5rem;
    --start-position: -1.5rem;
    &[data-exiting],
    &[data-entering] {
      opacity: 0;
    }
    
    &[data-axis-y="top"] {
      top: var(--end-position);
    }
    &[data-axis-y="bottom"] {
      bottom: var(--end-position);
    }
    &[data-axis-x="center"] {
      left: 50%;
      transform: translateX(-50%);
    }
    &[data-axis-x="left"] {
      left: calc(var(--end-position) + -0rem);
    }
    &[data-axis-x="right"] {
      right: calc(var(--end-position) + -0rem);
    }
    
    &[data-axis-y="top"][data-entering],
    &[data-axis-y="top"][data-exiting] {
      top: var(--start-position);
    }
    
    &[data-axis-y="bottom"][data-entering],
    &[data-axis-y="bottom"][data-exiting] {
      bottom: var(--start-position);
    }
  }
  
  .toast-item {
    background-color: var(--color-gray-2);
    outline: solid 1px var(--color-gray-6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--spacing) * 9);
    border-radius: var(--radius-lg);
    padding: 8px 12px;
    min-width: 340px;
    max-width: 90dvw;
    min-height: 48px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.211);
  }
  
  .toast-item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--spacing) * 1);
  }
  
  .toast-item > div > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    aspect-ratio: 1/1;
  }
  
  .toast-item > div > div {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    margin-left: calc(var(--spacing) * 1);
  }
  
  .toast-item > div > div > p:nth-child(0) {
    font-size: calc(var(--font-multiplier) * 14px);
    font-weight: 600;
    color: var(--color-gray-12)
  }

  .toast-item > div > div > p:nth-child(1) {
    font-size: calc(var(--font-multiplier) * 14.5px);
    font-weight: 475;
    color: var(--color-gray-11);
  }

  .toast-item > span {
    color: var(--color-gray-11);
  }
  
  .toast-item > span > button.icon-btn {
    cursor: pointer;
    border-radius: 100%;
    padding: 4px;
    margin-top: 4px;
  }
  .toast-item > span > button.icon-btn:hover{
    background-color: var(--color-gray-a5);
  }

  @media (max-width:600px) {
    .toast-wrapper[data-axis-x="left"],
    .toast-wrapper[data-axis-x="right"] {
      left: 50%;
      transform: translateX(-50%);
    }
    
    .toast-item {
      width: 90dvw;
    }
  }
}

