.lb-setting-container{
    max-width: 1300px;
}
.lb-setting {
    flex-direction: row;
    flex-wrap: wrap;
}

.lb-setting aside {
    min-width: 250px;
    height: max-content;
}
.lb-setting aside h3{
    font-size: var(--lb-font-size-small);
    font-weight: 500;
}

.lb-setting main {
    min-width: 320px;
    flex: 1;
}

.lb-options {
    padding: 0.5rem;
    font-size: var(--lb-font-size-normal);
}

.lb-options.active {
    background-color: var(--lb-bg-third);
    font-weight: 500;
}
.lb-options:hover {
    background-color: var(--lb-bg-hover);
}

.lb-options.active::before {
    content: '';
    position: absolute;
    height: 78%;
    width: 4px;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 150px;
    background-color: var(--lb-primary);
    z-index: 1;
}

@media (850px > width) {
    .lb-setting {
        flex-direction: column;
    }

    .lb-setting aside {
        width: 100%;
        height: max-content;
    }

    .lb-setting main {
        width: 100%;
        min-width: 100%;
    }
}

/*Styless*/
.lb-main {
    font-family: Inter Tight, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Encabezados */
.lb-main h1 {
    color: var(--lb-title);
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: var(--lb-font-size-xxlarge);
}

.lb-main h2 {
    border-bottom: solid 1px var(--lb-border);
    color: var(--lb-title);
    margin-bottom: 0.6em;
    padding: 4px 2px;
    font-weight: 500;
    font-size: var(--lb-font-size-xlarge);
}

.lb-main h3 {
    margin-bottom: .1em;
    color: var(--lb-subtitle);
    font-weight: 400;
    font-size: var(--lb-font-size-large);
}

.lb-main h4 {
    font-size: var(--lb-font-size-small);
    color: var(--lb-subtitle);
    margin-bottom: 0.5em;
    font-weight: 400;
}

.lb-main h5 {
    font-size: var(--lb-font-size-xsmall);
    color: var(--lb-subtitle);
    margin-bottom: 0.5em;
    font-weight: 400;
}

/* Párrafos */
.lb-main p {
    margin-bottom: 1em;
    color: var(--lb-text);
    font-weight: 300;
    font-size: var(--lb-font-size-normal);
}

/* Citas */
.lb-main blockquote {
    font-style: italic;
    color: var(--lb-text);
    border: solid 1px var(--lb-bg-hover);
    border-left: 4px solid var(--lb-primary);
    margin: 1em 0;
    padding: .7em 1em;
    border-radius: 4px;
    font-weight: 300;
    font-size: var(--lb-font-size-xxsmall);
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.lb-main blockquote h1,
.lb-main blockquote h2,
.lb-main blockquote h3,
.lb-main blockquote h4,
.lb-main blockquote h5{
    font-size: var(--lb-font-size-small);
    margin-bottom: 0.5em;
    font-weight: 400;
}
.lb-main blockquote p{
    margin-bottom: 0;
    color: var(--lb-lowtext);
}


/* Listas */
.lb-main ul,
.lb-main ol {
    color: var(--lb-text);
    margin: 1em 0;
    padding-left: 1.8em;
}

.lb-main li {
    font-weight: 300;
    margin-bottom: 0.5em;
}

/* Enlaces */
.lb-main a {
    color: var(--lb-link);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.lb-main a:hover {
    text-decoration: underline;
}

/* Imágenes */
.lb-main img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
    display: block;
    color: var(--lb-text);
    font-weight: 300;
}

/* Separador horizontal */
.lb-main hr {
    border: none;
    border-top: 1px solid var(--lb-border);
    margin: 2em 0;
}

/*Code*/
.lb-main pre {
    background-color: var(--lb-bg-third);
    border: solid 1px var(--lb-border-input);
    max-height: 540px;
    padding: 1em;
    border-radius: 4px;
    overflow: auto;
    font-size: var(--lb-font-size-xxsmall);
}
.lb-main pre code {
    font-family: monospace;
    font-size: var(--lb-font-size-xxsmall);
    font-weight: 400;
    color: var(--lb-text);
}

/*Inputs*/
.lb-main label{
    font-weight: 500;
    font-size: var(--lb-font-size-xxsmall);
    color: var(--lb-title);
    margin-bottom: 0.3em;
}

.lb-main input[type="text"],
.lb-main input[type="password"],
.lb-main input[type="email"],
.lb-main input[type="number"],
.lb-main input[type="search"],
.lb-main input[type="tel"],
.lb-main input[type="url"] {
    padding: 12px 16px;
    background-color: var(--lb-bg-secondary);
    border: 1px solid var(--lb-border-input);
    border-radius: 6px;
    font-size: var(--lb-font-size-normal);
    font-weight: 300;
}
.lb-main input[type="text"],
.lb-main input[type="password"],
.lb-main input[type="email"],
.lb-main input[type="number"],
.lb-main input[type="search"],
.lb-main input[type="tel"],
.lb-main input[type="url"]:focus {
    outline: solid 1px var(--lb-primary);
    border: 1px solid var(--lb-primary);
}

.lb-main input[type="range"]::-moz-range-progress {
    background-color: var(--lb-primary);
}

.lb-main input[type="range"]::-moz-range-track {
    background-color: var(--lb-bg-secondary);
}